.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.card {
  max-width: 740px;
  background-color: transparent;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
