@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

:root {
  /* сolor palette */
  --color-purple-900: #400799;
  --color-purple-800: #5509CC;
  --color-purple-700: #6A0BFF;
  --color-purple-600: #883CFF;
  --color-purple-500: #A66DFF;
  --color-purple-400: #C39DFF;
  --color-purple-300: #D2B6FF;
  --color-purple-200: #E1CEFF;
  --color-purple-100: #F0E7FF;
  --color-purple-50: rgb(240 231 255 / 50%);
  --color-red-900: #880727;
  --color-red-800: #AF0932;
  --color-red-700: #D50B3E;
  --color-red-600: #F3164E;
  --color-red-500: #F53D6B;
  --color-red-400: #F76489;
  --color-red-300: #F98BA6;
  --color-red-200: #FBB1C4;
  --color-red-100: #FDD8E1;
  --color-red-25: rgb(253 216 225 / 25%);
  --color-yellow-900: #FAAF00;
  --color-yellow-800: #FFC234;
  --color-yellow-700: #FFCE5C;
  --color-yellow-600: #FFDA85;
  --color-yellow-500: #FFE7AD;
  --color-yellow-400: #FFF3D6;
  --color-yellow-300: #FFFCF2;
  --color-green-900: #17663A;
  --color-green-800: #1E874C;
  --color-green-700: #26A95F;
  --color-green-600: #2DCA72;
  --color-green-500: #56D990;
  --color-green-400: #84E4AE;
  --color-green-300: #B2EECC;
  --color-green-200: #DFF8EA;
  --color-green-100: #EEFBF4;
  --color-green-007: #EDF7EF;
  --color-black-1000: #141414;
  --color-black-900: #191919;
  --color-black-800: #303030;
  --color-black-700: #474747;
  --color-black-600: #5E5E5E;
  --color-black-500: #757575;
  --color-black-400: #8C8C8C;
  --color-black-300: #A3A3A3;
  --color-black-200: #BABABA;
  --color-black-150: #D9D9D9;
  --color-black-100: #D1D1D1;
  --color-black-50: #E8E8E8;
  --color-black-30: #F8F8F8;
  --color-black-25: #F4F4F4;
  --color-white-900: #FFF;
  --color-label-bg: rgb(209 209 209 / 27%);
  --color-code-gradient-end: #E8DAFF;

  /* light theme colors */
  --background-progress-bar: var(--color-purple-200);
  --background-app: var(--color-black-25);
  --background-button: var(--color-black-50);
  --background-block: var(--color-white-900);
  --background-light-hover: var(--color-black-30);
  --background-light-chip: var(--color-purple-100);
  --text-color-primary: var(--color-black-800);
  --text-color-bright: var(--color-black-900);
  --text-color-black-landing: var(--color-black-1000);
  --text-color-link-active: var(--color-purple-700);
  --text-color-link-disabled: var(--color-purple-300);
  --text-color-light: var(--color-black-700);
  --text-color-lighter: var(--color-black-600);
  --text-color-lightest: var(--color-black-500);
  --text-color-the-lightest: var(--color-black-400);
  --text-color-more-lightest: var(--color-black-300);
  --text-color-white: var(--color-white-900);
  --background-skeleton: var(--color-black-150);
  --text-color-red: var(--color-red-800);
  --background-nav-item: var(--color-purple-100);
  --background-nav-item-hover: var(--color-black-25);
  --border-color: var(--color-black-100);
  --border-right-color: var(--color-black-200);
  --border-image-hover: var(--color-purple-800);
  --border-input: var(--color-black-50);
  --background-primary: var(--color-purple-700);
  --caret-color-red: var(--color-red-400);
  --icon-color-red: var(--color-red-600);
  --error-color-red: var(--color-red-700);
  --border-focus-purple: var(--color-purple-500);
  --background-admin-sidebar-item: var(--color-yellow-800);
  --background-admin-sidebar-item-active: var(--color-yellow-600);
  --background-gradient-code-start: var(--color-white-900);
  --background-gradient-code-end: var(--color-code-gradient-end);
  --background-modal-overlay: rgb(72 72 72 / 50%);
  --color-filter-border: rgb(28 28 28 / 20%);
  --background-demo-progress-bar: var(--color-green-800);
  --background-first-step: var(--color-yellow-300);
  --main-shadow: 0px 4px 10px rgb(106 99 118 / 10%);
  --container-width: 1216px;
  --container-width-tablet: 708px;
  --container-width-mobile: 100%;
  --grid-template-columns: 332px 244px 244px;
  --container-padding: 0;
  --drawer-transition-speed: 0.3s;

  /* dimensions */
  --font-size-none: 0;
  --font-size-p-xxxs: 6px;
  --font-size-p-xxs: 8px;
  --font-size-p-xss: 10px;
  --font-size-p-xs: 12px;
  --font-size-p-s: 14px;
  --font-size-p-m: 16px;
  --font-size-p-l: 18px;
  --font-size-h-xs: 20px;
  --font-size-h-s: 24px;
  --font-size-large-34: 34px;
  --font-size-h-m: 36px;
  --font-size-h-l: 40px;
  --font-size-h-xxl: 60px;
  --font-family: "Manrope", sans-serif;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;
  --font-weight-800: 800;
  --font-weight-900: 900;
  --focus-shadow: 0 0 0 3px var(--color-purple-100);
  --focus-shadow-error: 0 0 0 3px var(--color-red-100);
  --focus-shadow-valid: 0 0 0 3px var(--color-green-200);

  /* z-index */
  --z-index-modal: 1000;
}


/* 
[theme="dark"] {
  --background-progress-bar: var(--color-purple-200);
  --background-app: var(--color-black-800);
  --background-button: var(--color-black-50);
  --background-block: var(--color-black-900);
  --background-light-hover: var(--color-black-30);
  --text-color-primary: var(--color-white-900);
  --text-color-bright: var(--color-white-900);
  --text-color-link-active: var(--color-purple-700);
  --text-color-link-disabled: var(--color-purple-300);
  --text-color-light: var(--color-white-900);
  --text-color-lighter: var(--color-black-600);
  --text-color-lightest: var(--color-black-500);
  --text-color-the-lightest: var(--color-black-400);
  --text-color-more-lightest: var(--color-black-300);
  --text-color-red: var(--color-red-800);
  --background-skeleton: var(--color-black-150);
  --background-nav-item: var(--color-purple-500);
  --background-nav-item-hover: var(--color-black-800);
  --border-color: var(--color-black-500);
  --background-primary: var(--color-purple-700);
  --caret-color-red: var(--color-red-400);
  --icon-color-red: var(--color-red-600);
  --error-color-red: var(--color-red-700);
  --border-focus-purple: var(--color-purple-500);
} */

body {
  min-height: 100vh;
  background-color: var(--background-app);
  line-height: 140%;
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-p-m);
  font-family: var(--font-family);
  user-select: none;
}

input, textarea {
  user-select: text;
}

.container {
  margin-inline: auto;
  width: min(100% - 60px, 1760px);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: var(--border-color);
  transition: background-color 0.3s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-black-300);
}

::-webkit-scrollbar-thumb:active {
  background: var(--color-purple-400);
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}
