.main {
  flex-grow: 1;
  padding: 24px 20px 40px;
  height: auto;
}

.header {
  margin-bottom: 20px;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--border-color);
}

.filters {
  position: sticky;
  top: 0;
  min-width: 360px;
  max-width: 360px;
  height: auto;
}

@media screen and (width <= 1023px) {
  .main {
    padding: 20px 16px 40px;
  }

  .filters {
    display: none;
  }
}

@media screen and (width <= 767px) {
  .main {
    padding: 20px 10px;
  }
}