.main {
  flex-grow: 1;
  padding: 24px 20px 40px;
  height: auto;
}

.filters {
  position: sticky;
  top: 0;
  min-width: 360px;
  max-width: 360px;
  height: auto;
}

@media screen and (width <= 1023px) {
  .main {
    padding: 20px 16px 40px;
  }

  .filters {
    display: none;
  }
}

@media screen and (width <= 767px) {
  .main {
    padding: 20px 10px;
  }
}