
.container,
.skeleton-wrapper {
  display: grid;
  grid-template-columns: auto 360px;
  gap: 20px;
}

.skeleton-card-block {
  position: relative;
}

.skeleton-mobile-calendar {
  display: none;
}

.skeleton-card {
  margin-bottom: 20px;
  height: auto;
}

.skeleton-calendar {
  height: 324px;
}

@media (width <= 1024px){
  .skeleton-wrapper {
    grid-template-columns: 1fr;
  }

  .skeleton-mobile-calendar {
    position: absolute;
    top: -50px;
    right: 0;
    display: block;
  }

  .skeleton-calendar{
    display: none;
  }
}

@media (width <= 768px) {
  .skeleton-card {
    > div {
      margin: 0;
    }
  }
}

