.full-price {
  text-decoration: line-through;
}

.card {
  margin-top: -16px;
  padding: 20px;
  height: 100%;
  border-radius: 20px;
}

.card-content {
  height: 100%;
}

.content {
  height: 100%;
}

.badge {
  padding-top: 6px;
  height: 51px;
  border-radius: 20px 20px 0 0;
}