.form-wrapper {
  margin-bottom: 20px;
  width: 100%;
  max-width: 408px;
}

.forgot-password-link {
  display: flex;
  justify-content: flex-end;
  margin-top: 6px;
  line-height: 21px;
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-p-s);
}

.password-input span {
  pointer-events: auto;
}

.form-wrapper .forgot-password-link span {
  margin: 0;
  margin-left: auto;
}

.submit-button {
  margin-top: 40px;
  width: 100%;
}

.input-wrapper:not(:last-of-type) {
  margin-bottom: 36px;
}

.input {
  width: 100%;
  min-height: 48px;
  background-color: var(--background-app);
}

.input::placeholder {
  color: var(--text-color-more-lightest);
  line-height: 20px;
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-p-m);
}

.input-wrapper:not(:last-child) {
  margin-bottom: 24px;
}

/* LABEL */
.form-wrapper .input-wrapper label span { 
  display: inline-block;
  color: var(--text-color-primary);
  line-height: 21px;
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-p-s);

}

/* ERROR */
.input-wrapper label div {
  position: relative;
}

.wrapper .form-wrapper .input-wrapper label div p {
  position: absolute;
  top: 2px;
  left: 16px;
  height: 16px;
  color: var(--error-color-red);
  line-height: 1.36;
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-p-xs);
  user-select: none; 
}

.input-wrapper div:has(+ div),
.input-wrapper div:first-child:focus-within:has(+ div) {
  border-color: var(--error-color-red);
  caret-color: var(--caret-color-red);
  background-color: var(--background-block);
}

.input-wrapper div:first-child:focus-within:has(+ div) {
  box-shadow: var(--focus-shadow);
  border-color: var(--border-focus-purple);
}