.container {
  width: 100%;
  max-width: 660px;
}

.img {
  width: 170px;
}

.profile-picture-wrapper > img {
  width: 170px;
  height: 188px;
  object-fit: cover;
  border-radius: 16px;
}

.delete-avatar-btn {
  max-width: 170px;
  border: none;
  background-color: transparent;
  color: var(--color-red-600);
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-s);
  cursor: pointer;
}

@media (width <= 768px) {
  .profile-picture-wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (width <= 480px) {
  .profile-picture-block {
    width: 100%;
  }

  .img {
    width: 100%;
  }

  .delete-avatar-btn {
    align-self: center;
  }
}

.content {
  padding: 0;
  padding-top: 40px;
  border-radius: 20px;
  color: var(--color-black-900);
}

.title,
.description, .modal {
  padding: 0 40px;
}

.cropper {
  aspect-ratio: 1;
  width: 400px;
  height: 400px;
  border-radius: 24px;
}

.description {
  margin-top: 19px;
}

.buttons-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 30px;
  padding: 30px 40px;
  border-radius: inherit;
  background: var(--color-black-25);
}