.wrapper {
  padding: 24px;
}

.card-img {
  object-fit: contain;
  height: 165px;
}

.flex {
  margin: auto;
  width: 360px;
}


.text{
  text-align: center;
}

@media screen and (width <= 768px) {
  .flex{
    width: 272px;
  }
}