.wrapper {
  display: flex;
  gap: 20px;
}

.container {
  position: relative;
}

.filters {
  z-index: 1;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  gap: 20px;
  width: 360px;
  height: fit-content;
  border-radius: 24px;
}


.main-info-wrapper {
  flex-grow: 1;
  overflow: hidden;
}

.header {
  margin-bottom: 20px;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--border-color);
}

.content {
  padding: 20px;
  border-radius: 24px;
}


@media screen and (width < 1024px) {
  .filters {
    display: none;
  }
}

