.container {
  display: grid;
  grid-template-columns: repeat(3, auto );
  gap: 20px;
}

.card-wrap{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.icon-margin {
  margin-bottom: 5px;
}

.card-skeleton {
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.card {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.banner {
  width: 100%;
  height: 100%;
}

.description {
  min-height: 88px;
}

.icon {
  position: relative;
  left: -8px;
  width: 52px;
  height: 52px;
}

@media screen and ( width <= 1320px) {
  .container {
    grid-template-columns: repeat(2, auto )
  }
}

@media (width <= 950px) {
  .container {
    grid-template-columns: repeat(1, auto );
	
  }

  .card {
    gap: 0;
  }
}

