.list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 0;
  padding: 24px;
  list-style: none;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.questions {
  align-self: start;
  width: calc(50% - 10px);
}


@media (width <= 1198px) {
  .questions {
    width: calc(100% - 280px - 20px);
  }
}

@media (width <= 1000px) {
  .questions {
    width: 100%;
  }
}