.question-list {
  display: flex;
  flex-direction: column;
  padding: 24px 111px 24px 24px;
  box-shadow: var(--main-shadow);
  border-radius: 10px;
}

.question-item {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: 71px 1fr;
  gap: 8px;
}

.question-item:not(:first-child) {
  padding-top: 12px;
}

.question-item:nth-child(1),
.question-item:nth-child(2) {
  padding-bottom: 7.5px;
  border-bottom: 0.5px solid var(--text-color-more-lightest);
}

.question-item img {
  grid-row: -1/1;
  grid-column: 1/2;
  width: 71px;
  height: 51px;
  border-radius: 4px;
}

.question-item > p {
  position: relative;
  padding-left: 9px;
  line-height: 19px;
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-p-s);
}

.question-item > p::before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--text-color-link-active);
  transform: translateY(-50%);
  content: '';
}

.question-item div {
  display: flex;
  gap: 24px;
}

.question-item > div > p {
  padding: 4px 6px;
  border-radius: 4px;
  background-color: var(--background-light-hover);
  line-height: 16px;
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-p-xs);
}

.question-item > div span {
  margin-left: 12px;
  padding: 0 5px;
  border-radius: 4px;
  background-color: var(--text-color-link-active);
  color: var(--text-color-white);
}

@media screen and (width <= 767px) {
  .question-list {
    padding: 12.54px 57.69px 12.53px 12.54px;
    border-radius: 5.22px;
  }

  .question-item {
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: 37.08px 1fr;
    gap: 4.18px;
    max-width: 192px;
  }

  .question-item:not(:first-child) {
    padding-top: 6.27px;
  }

  .question-item:nth-child(1),
  .question-item:nth-child(2) {
    padding-bottom: 4.64px;
    border-bottom: 0.26px solid var(--text-color-more-lightest);
  }

  .question-item img {
    grid-row: -1/1;
    grid-column: 1/2;
    width: 37.08px;
    height: 26.64px;
    border-radius: 2.09px;
  }

  .question-item > p {
    position: relative;
    padding-left: 4.7px;
    line-height: 10px;
  }

  .question-item > p::before {
    width: 2.61px;
    height: 2.61px;
  }

  .question-item div {
    gap: 12.54px;
  }

  .question-item > div > p {
    padding: 2.09px 3.13px;
    border-radius: 2.09px;
    line-height: 9px;
    font-size: var(--font-size-p-xxxs);
  }

  .question-item > div span {
    margin-left: 6.27px;
    padding: 0 2.61px;
    border-radius: 2.09px;
  }
}
