.header-section {
  margin-bottom: 28px;
  width: 100%;
  max-width: 560px;
}
  

.flex-form{
  flex-wrap: wrap;
  gap: 20px 16px;
}

.input-wrapper,
.submit-button 
  {
  width: 100%;
  max-width: 328px;
}


  
.submit-button {
  align-self: start;
	margin-top: 24.8px;
}
  
/* LABEL */
.input-wrapper label span { 
  display: inline-block;
  color: var(--text-color-primary);
  line-height: 21px;
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-p-s);
}
  
/* INPUT */
.input {
  width: 100%;
  min-height: 48px;
  background-color: var(--background-block);
}
  
.input input::placeholder {
  color: var(--text-color-more-lightest);
  line-height: 20px;
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-p-m);
}
	
  
.form .input-wrapper div:has(+ div) {
  border-color: var(--error-color-red);
  caret-color: var(--caret-color-red);
  background-color: var(--background-block);
}
  
.form .input-wrapper div:first-child:focus-within:has(+ div) {
  box-shadow: var(--focus-shadow);
  border-color: var(--border-focus-purple);
  caret-color: var(--caret-color-red);
  background-color: var(--background-block);
}

@media (width<=1200px) {
	.submit-button{
  align-self: flex-end;
	margin-top: 0px;
}
}