.header-section {
  margin-bottom: 28px;
  width: 100%;
  max-width: 560px;
}
  
.title {
  margin: 0;
  color: var(--text-color-black-landing);
  line-height: 127%;
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-large-34);
}
  
.description {
  margin: 0;
  width: 100%;
  color: var(--text-color-black-landing);
  line-height: 120%;
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-p-m);
}

.flex-form{
  flex-wrap: wrap;
  gap: 17px;
}
  
.input-wrapper,
.submit-button 
  {
  margin-bottom: 25px;
  width: 100%;
  max-width: 328px;
}


  
.submit-button {
  align-self: flex-end;
  margin-left: 2px;
}
  
/* LABEL */
.input-wrapper label span { 
  display: inline-block;
  color: var(--text-color-primary);
  line-height: 21px;
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-p-s);
}
  
/* INPUT */
.input {
  width: 100%;
  min-height: 48px;
  background-color: var(--background-app);
}
  
.input input::placeholder {
  color: var(--text-color-more-lightest);
  line-height: 20px;
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-p-m);
}
	
/* ERROR */
.input-wrapper label div {
  position: relative;
}
  
.form .input-wrapper label div p {
  position: absolute;
  top: 2px;
  left: 0;
  height: 16px;
  color: var(--error-color-red);
  line-height: 1.36;
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-p-xs);
  user-select: none; 
}
  
.form .input-wrapper div:has(+ div) {
  border-color: var(--error-color-red);
  caret-color: var(--caret-color-red);
  background-color: var(--background-block);
}
  
.form .input-wrapper div:first-child:focus-within:has(+ div) {
  box-shadow: var(--focus-shadow);
  border-color: var(--border-focus-purple);
  caret-color: var(--caret-color-red);
  background-color: var(--background-block);
}