.question {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.questiontitle { 
  margin-top: 16px;
  overflow: hidden;
  text-overflow: ellipsis; 
  white-space: nowrap; 
}

.image-wrapper {
  margin-top: 16px;
  width: 100%;
  height: 276px;
  border-radius: 12px;
}
