.title {
  margin-bottom: 8px;
  color: var(--text-color-light);
  line-height: 120%;
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-p-s);
}


.category-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;

  span {
    padding: 0;
  }
}


@media (width <= 480px) {
  .chip {
    font-size: var(--font-size-p-s);
  }
}


