.home-link {
  display: flex;
  align-items: center;
  gap: 8px;
  width: auto;
  transition: padding-left 0.5s ease-in-out;
}

.logo {
  width: 33px;
  height: 33px;
  border-radius: 50%;
}

.logo-text{
  display: block;
  width: 99px;
  height: 32px;
}

.white > path {
  fill: var(--color-white-900);
}

.black > path {
  fill: var(--color-black-800);
}

.center {
  transition: padding-left 0.4s ease-in-out;
}

.pointer-event-none {
  pointer-events: none;
}

@media (width < 768px) {
  .logo-text-header {
    display: none;
  }
}
