.title {
  color: var(--color-black-900);
  line-height: 130%;
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-h-s);
}

.form-control {
  margin: 24px 0 16px;
}

.tooltip {
  margin-right: 50px;
  padding: 16px;
  max-width: 417px;
}

.tooltip p {
  font-size: var(--font-size-p-s);
}

.title-table {
  text-align: left;
} 

.mobile-td {
  padding: 12px 0 0;
}

.mobile-td:last-child {
  text-align: right;
}

.td-center {
  text-align: center;  
}

.td-right {
  text-align: right;
}

@media (width < 768px) {
  .title {
    line-height: 120%;
    font-size: var(--font-size-h-xs);
  }
}