.text-block {
  flex: 1 1 50%;
  align-items: center;
  margin-top: 6px;
}

.content {
  position: relative;
  max-width: 448px;
  text-align: center;
}

.title {
  text-transform: uppercase;
  font-weight: var(--font-weight-500);
}

.title::before {
  position: absolute;
  top: -35px;
  right: 68px;
  width: 61px;
  height: 64px;
  background-image: url('../../model/assets/sealCheckPointer.avif');
  background-size: contain;
  content: '';
}

.title::after {
  position: absolute;
  top:65.5px;
  left: 204px;
  width: 123px;
  height: 7px;
  border-radius: 16px;
  background-color: var(--color-purple-700);
  content: '';
  opacity: 0.9;
}

.text-block p {
  margin-top: 10px;
  line-height: 130%;
}

@media screen and (width < 1200px) {
  .content {
    max-width: 298px;
  }

  .title {
    position: relative;
    align-self: center;
    width: 232px;
    line-height: 120%;
    font-size: var(--font-size-h-xs);
  }
	
  .text-block p {
    line-height: 130%;
    font-weight: var(--font-weight-400);
    font-size: var(--font-size-p-m);
  }

  .title::before {
    top: -36px;
    right: 14px;
    width: 54px;
  }

  .title::after {
    top: 40px;
    left: 105px;
    width: 72px;
    height: 5px;
  }
}

@media screen and (width < 768px) {
  .content {
    margin-bottom: 16px;
    max-width: 320px;
    color: var(--color-white-900);
  }

  .title, .text-block p {
    color: var(--color-white-900);
  }

  .title::after {
    display: none
  }
}