.normal-hight {
  height: auto;
}

.wrapper {
  padding: 20px;
}

.title {
  margin-bottom: 16px;
  line-height: 19px;
  font-size: var(--font-size-p-m);
}

.param-wrapper {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  list-style-type: none;
}

.param-wrapper > li:first-child {
  margin-right: 16px;
}

.chip {
  cursor: pointer;
  padding: 12px 10px;

  &:has(>div>img){
    padding: 6px 12px 6px 6px;
    min-height: 47px;
    border-radius: 12px;
  }

  img {
    max-width: 35px;
    max-height: 35px;
    border-radius: 6px;
  }
}

.questions-chip{
  margin-top: 8px;
  box-shadow: 0 0 0 1px var(--color-purple-700);
}

.chip:not(:last-of-type) {
  margin-right: 10px;
}

.keywords-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.keywords-wrapper a {
  color: var(--text-color-link-active);
}

.access-container {
  display: flex;
  align-items: center;

  & svg {
    margin-right: 4px;
    width: 20px;
    height: 20px;
  }
}