.learned-questions {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.learned-question {
  padding: 10px;
  border-radius: 14px;
  background: var(--color-black-30);
}

.questions-total {
  padding: 2px 8px;
  width: max-content;
  border-radius: 30px;
  background: var(--color-green-007);
}

