.info {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 18px;
  width: 100%;
  font-size: var(--font-size-p-s);
}

.margin-top {
  margin-top: 6px;
}

.stat {
  border-radius: 16px;
}

@media (width <= 1024px) {
  .info {
    grid-template-columns: repeat(4, auto);
    align-self: center;
    width: 451px;
  }
}

@media (width <= 768px) {
  .info {
    align-self: auto;
    gap: 6px;
    width: 100%;
  }

  .stat {
    border-radius: 8px;
  }  
}