.info {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: var(--font-size-h-s);
  font-size: var(--font-size-p-s);
}

@media (width <= 996px) {
  .info {
    gap: 4px;
    margin-top: 16px;
  }
}