.description {
  white-space: pre-line;
}

.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 100%;
}

.item {
  padding: 20px;
  min-width: 340px;
  border-radius: 8px;
  background-color: var(--color-white-900);
}

.button > * {
  color: var(--color-purple-700);
}

.link {
  margin-left: 20px;
}

.svg-wrapper {
  aspect-ratio: 1 / 1;
  min-width: 54px;
}

.svg-wrapper svg {
  width: 100%;
  height: 100%;
}

.avatar {
  aspect-ratio: 1 / 1;
  min-width: 54px;
  border-radius: 50%;
  background-color: var(--color-purple-700);
}

@media (width <= 1024px) {
  .item {
    flex-direction: column;
    align-items: start;
    gap: 12px;
  }

  .link {
    align-self: self-end;
  }
}

@media (width <= 768px) {
  .description {
    white-space: normal;
  }

  .item {
    padding: 20px 10px;
  }

  .list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    width: 100%;
  }
}
