.button {
  justify-content: flex-start;
  padding: 6px 10px;
  border-radius: 12px;
}

.button:focus {
  border: none;
}

/* .button:hover path, */

/* .button:focus path { */

/*	fill: var(--color-purple-800); */

/* } */

.button:hover,
.button:focus {
  color: var(--color-purple-800);
}