.content {
  display: flex;
  padding: 20px;
  overflow: hidden;
  border-radius: 24px;
}

.card-title {
  &.column {
    min-height: 42px;
  }
}

.wrapper {
  display: flex;
  gap: 20px;
  width: 100%;
  overflow: hidden;
  cursor: pointer;

  &.row{
    flex-direction: row;
  }

  &.column {
    flex-direction: column;
  }
}

.wrapper-content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  max-width: 100%;
  overflow: hidden;
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20px;
  overflow: hidden;

}

.tags {
  display: flex;
  align-items: center;
  gap: 14px;
}

.image-wrapper {
  flex-shrink: 0;
  width: 100%;
  overflow: hidden;
  border-radius: 12px;
  place-content: center center;


  &.row {
    width: 149px;
    height: 157px;
  }

  &.column {
    width: 100%;
    height: clamp(196px, 15.4vw, 222px);
  }
}

.image-wrapper > img {
  object-fit: cover;
  object-position: center;
}

.info-container {
  display: flex;
  align-items: center;
  gap: 14px;

  & p {
    color: var(--color-black-500);
    line-height: 120%;
    font-weight: var(--font-weight-400);
    font-size: var(--font-size-p-m);
  }
}

.access-container {
  display: flex;
  align-items: center;
  gap: 16px;

  & svg {
    width: 20px;
    height: 20px;
  }

  & p {
    line-height: 1;
  }
}

.access-item {
  display: flex;
  align-items: center;
  gap: 4px;
}

@media (width < 768px) {
  .content {
    padding: 16px;
  }
}

@media (width < 480px) {
  .content {
    padding: 10px 10px 18px;
  }

  .image-wrapper {
    &.row {
      aspect-ratio: 1;
      width: 100%;
      height: auto;
    }
  }

  .wrapper {
    &.row {
      flex-direction: column;
    }
  }

  .info-container {
    flex-wrap: wrap;
  }
}

