.row {
  gap: 24px;
  max-width: 645px;
}

.column {
  gap: 20px;
  max-width: 455px;
  max-height: 408px;
}

.more-info-flex {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: auto;
  width: fit-content;
  color: var(--color-purple-700);
}

@media (width <= 1440px) {
  .row {
    gap: 24px;
    padding: 16px;
    max-width: 344px;
  }

  .column {
    padding: 16px;
    max-width: 344px;
    min-height: 408px;
    max-height: 408px;
  }
}