.list {
  display: flex;
  gap: 8px;
  margin-bottom: 20px;
}

.item {
  display: flex;
  align-items: center;
  gap: 8px;
}

@media (width <= 768px) {
  .item:not(:last-child) {
    display: none;
  }

  .item:last-child .icon {
    transform: rotate(180deg);
  }
}