.wrapper {
  display: flex;
  flex-flow: row wrap;
}

.back,
.buttons {
  flex: 1 1 48%;
}

.buttons {
  justify-content: flex-end;
}

.edit-button {
  width: 170px;
}

.content {
  flex: 1 1 100%;
}

@media (width <= 768px) {
  .back,
  .buttons {
    width: 100%;
  }

  .back {
    order: 1;
  }

  .buttons {
    order: 3;

    .delete-button {
      flex: 1 1 30%;
    }

    .submit-button {
      flex: 1 1 70%;
    }
  }

  .content {
    order: 2;
  }
}