.slider-block {
  padding: 52px;
  max-width: 598px;
  border-radius: 0 20px 20px 0;
  background-color: var(--color-purple-700);
}
.slider-block-loader{
	background-color: var(--color-white-500);
}

.image-slider-container {
  box-shadow: 0 4px 20px rgb(0 0 0 / 10%);
  border-radius: 12px;
  background-color: var(--color-white-900);
}

@media screen and (width < 1200px) {
  .slider-block {
    padding: 24px 24px 50px;
    max-width: 315px;
  }
}

@media screen and (width < 768px) {
  .slider-block {
    align-self: center;
    padding: 10px;
    max-width: 340px;
    border-radius: 20px
  }
}