.interview-block {
  margin: 76px 0 124px;
}

.article-description {
  margin-bottom: 41px;
  width: 86%;
  line-height: 118%;
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-p-m);

}

.container {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  gap: 40px;
}

.left-block {
  margin-top: 10px;
  width: auto;
}

.left-block > span {
  display: block;
  margin-bottom: 2px;
  padding: 6px 12px;
  width: max-content;
  border-radius: 37px;
  background-color: var(--background-light-chip);
  color: var(--text-color-link-active);
  line-height: 21.86px;
  font-size: var(--font-size-p-m);
}

.wallpaper {
  width: 498px;
}

.right-block {
  position: relative;
  margin-top: -28px;
  padding-right: 66px;
  width: 49.67%;
}

.right-block::before {
  position: absolute;
  bottom: -80px;
  left: -69px;
  width: 69px;
  height: 210px;
  border-top: 2px solid var(--color-purple-300);
  border-left: 2px solid var(--color-purple-300);
  border-top-left-radius: 20px;
  content: '';
}

.right-block::after {
  position: absolute;
  bottom: -40px;
  left: calc(100% - 66px);
  width: 19px;
  height: 89px;
  border-top: 2px solid var(--color-purple-300);
  border-right: 2px solid var(--color-purple-300);
  border-top-right-radius: 20px;
  content: '';
}

@media screen and (width <= 1439px) {
  .wallpaper {
    width: 445px;
  }

  .interview-block {
    margin-top: 68px;
  }
}

@media screen and (width <= 992px) {
  .interview-block {
    margin-bottom: 87px;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 24px;
  }

  .left-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    padding: 0 90px;
    width: 100%;
  }

  .left-block > span {
    display: none;
  }

  .article-description {
    margin-bottom: 39px;
    width: 100%;
    text-align: center;
    line-height: 20px;
    font-size: var(--font-size-p-m);
  }

  .right-block {
    margin-top: 0;
    margin-right: 0;
    padding: 0 71px;
    width: 100%;
  }

  .right-block::before {
    bottom: -80px;
    left: 50%;
    width: 2px;
    height: 85px;
    border: none;
    border-radius: 0;
    background-color: var(--color-purple-300);
  }

  .right-block::after {
    right: auto;
    left: calc(100% - 71px);
  }

  .wallpaper {
    width: 100%;
  }
}

@media screen and (width <= 767px) {
  .interview-block {
    margin-bottom: 50px;    
  }

  .container {
    gap: 35px;
  }


  .left-block {
    padding: 0;
  }

  .right-block {
    padding: 0;
  }

  .right-block::before,
  .right-block::after {
    content: none;
  }
}

@media screen and (width <= 576px) {
  .interview-block {
    margin-top: 32px;
    padding: 0 16px;
  }

  .container {
    gap: 42px;
  }

  .article-description {
    margin-bottom: 24px;
    line-height: 122%;
    font-size: var(--font-size-p-s);
  }
}
