// .env.development
API_URL=https://api.yeatwork.ru/
LANDING_URL=https://yeatwork.ru/
APP_URL=https://app.yeatwork.ru/
PORT=3001

// .env.production
API_URL=https://api.yeahub.ru/
LANDING_URL=https://yeahub.ru/
APP_URL=https://app.yeahub.ru/
PORT=443