.nav {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 12px;
  border-radius: 12px;
  background-color: transparent;
  color: var(--text-color-primary);
  text-decoration: none;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.item:hover {
  background-color: var(--background-nav-item-hover);
}

.item-active, .item-active:hover {
  background-color: var(--background-nav-item);
}

.wrap {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  gap: 8px;
}

.span {
  transition: opacity 0.7s ease-in-out;
}

.image {
  width: 24px;
  height: 24px;
  color: var(--text-color-primary);
}

.closing {
  opacity: 0; 
  pointer-events: none; 
  transition: opacity 0.3s ease-in-out;
}

