.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-index-modal);
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--background-modal-overlay);
}

.modal {
  position: relative;
  margin: 0 20px;
  min-width: 448px;
  max-width: 930px;
  border-radius: 24px;
  background-color: var(--background-block);
}

.content-wrapper {
  padding: 40px 40px 0;
}

.x-circle {
  position: absolute;
  top: -34px;
  right: -5px;
  margin: 0;
  cursor: pointer;

  &:active {
    outline: none;
  }
}

.title {
  margin-bottom: 30px;
  padding-bottom: 14px;
  border-bottom: 1px solid var(--border-color);
}

.text {
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 30px;
  padding: 30px 40px 40px;
  border-radius: 0 0 24px 24px;
  background-color: var(--color-black-25);
}

.view-notification-modal {
  min-width: 328px;
  max-width: 410px;
}

.variant-error-modal {
  outline: 1px solid var(--color-red-600);
  background-color: var(--color-red-50);
}

.variant-default-modal {
  outline: 1px solid var(--color-purple-700);
}

.variant-error-title {
  border-bottom: 1px solid var(--color-red-100);
}

.variant-error-buttons {
  padding: 30px 40px 40px;
  border-radius: 0 0 24px 24px;
  background-color: var(--color-white-900);

  button {
    font-weight: var(--font-weight-600);
  }
}

.modal-open {
  display: flex;
}

@media (width < 480px) {
  .buttons {
    flex-direction: column;
  }

  .modal {
    min-width: 300px;
  }
}
