.item {
  display: inline-flex;
  padding: 0;
  border: 1px solid transparent;
  border-radius: 10px;
  background: transparent;
  transition: border-color 0.2s ease-in-out;
  cursor: pointer;
}

.item:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.active {
  border-radius: 10px;
}

.active.item-1 {
  border-color: var(--color-green-750);
}

.active.item-2 {
  border-color: var(--color-green-750);
}

.active.item-3 {
  border-color: var(--color-yellow-800);
}

.active.item-4 {
  border-color: var(--color-yellow-900);
}

.active.item-5 {
  border-color: var(--color-red-800);
}