.header {
  margin-bottom: 24px;
}

.tooltip {
  max-width: 449px;
  font-size: var(--font-size-p-s);
}

.dropdown-container {
  margin-bottom: 16px;
}

@media (width < 1440px) {
  .tooltip {
    max-width: 288px;
  }
}

@media (width < 768px) {
  .tooltip {
    max-width: 269px;
  }

  .dropdown-container {
    margin-bottom: 20px;
  }
}

