.sticker {
  display: block;
  padding: 4px 12px;
  width: fit-content;
  box-shadow: 0 3px 0 0 var(--color-sticky-shadow);
  border-radius: 40px;
  background-color: var(--color-green-750);
}

@media screen and (width <= 480px) {
  .text {
    font-size: var(--font-size-p-xss);
  }
}