.preferences {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.settings {
  all: initial;
  cursor: pointer;
}

.img {
  width: 100%;
  border-radius: 10px;
}

.avatar {
  width: 40px;
  height: 40px;
}