.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 55px;
  padding-top: 16px;
  box-sizing: border-box;
  width: 100%;
}

.header-background {
  height: 77px;
  overflow: hidden;
  border-bottom: 1px solid var(--color-black-50);
  background-color: var(--color-white-900)
}

.links {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 42px;
}

.questions-link {
  display: inline-flex;
  align-items: start;
  padding: 6px 10px;
  border-radius: 12px;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.questions-link.active {
  background-color: var(--color-black-30);
}

.questions-link.active > * {
  color: var(--color-purple-800);
}

.navigation {
  display: flex;
  justify-content: space-between;
  margin: 8px 4px;
  width: 100%;
  max-width: 276px;
}

@media (width <= 767px) {
  .links {
    margin-left: 16px;
  }
}

@media screen and (width <= 576px) {
  .header {
    margin-top: 0;
    margin-bottom: 24px;
    padding: 16px 0 0;
  }
}



