.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0 76px;
  padding: 10px 0;
  width: 100%;
}

.navigation {
  display: flex;
  justify-content: space-between;
  margin: 8px 4px;
  width: 100%;
  max-width: 276px;
}

@media screen and (width <=1439px) {
  .header {
    margin-bottom: 68px;
    padding: 0;
  }
}

@media screen and (width <= 576px) {
  .header {
    margin-top: 0;
    margin-bottom: 32px;
    padding: 16px 16px 0;
  }
}



