.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
  margin-top: 24px;
}

.list>*+* {
  margin-top: clamp(16px, calc(16px + 6.67vw - 80px), 24px);
}

@media (width <= 768px) {
  .wrapper {
    gap: 16px;
  }
}