.content {
  display: flex;
  padding: 20px;
  border-radius: 24px;
}

.wrapper {
  display: flex;
  gap: 20px;
  width: 100%;
}

.image-wrapper {
  flex-shrink: 0;
  width: 149px;
  height: 157px;
  border-radius: 12px;
}

.image-wrapper > img {
  object-fit: cover;
  object-position: center;
}

@media (width < 768px) {
  .content {
    padding: 16px;
  }
}

@media (width < 480px) {
  .content {
    padding: 12px;
  }

  .wrapper {
    flex-direction: column;
  }

  .image-wrapper {
    aspect-ratio: 1;
    width: 100%;
    height: auto;
  }
}
