.wrapper {
  padding: 20px;
  width: 100%;
  border-radius: 24px;
}

.title {
  margin-bottom: 20px;
  padding-bottom: 17px;
  border-bottom: 1px solid var(--border-color);
}

.text {
  color: var(--text-color-light);
  line-height: 20.8px;
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-p-m);
  font-family: var(--font-family);
}

.no-questions {
  flex: 0 1 358px;
  text-align: center;
}

.question:not(:last-child) {
  padding-bottom: 8px;
  border-bottom: 1px solid var(--border-color);
}

@media (width < 768px) {
  .wrapper {
    padding: 16px;
    width: 100%;
  }
}

@media (width < 480px) {
  .wrapper {
    padding: 20px 10px;
    width: 100%;
  }

  .text {
    font-weight: var(--font-weight-400);
    font-size: var(--font-size-p-s);
  }

  .title {
    margin-bottom: 16px;
    padding-bottom: 8px;
    font-size: var(--font-size-h-xs);
  }
}

.questions {
  align-self: start;
  width: 100%;
}