.wrapper {
  padding: 20px;
  width: 100%;
  border-radius: 24px;
}

.title {
  margin-bottom: 24px;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--border-color);
}

.text {
  color: var(--text-color-light);
  line-height: 20.8px;
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-p-m);
  font-family: var(--font-family);
}

.wrapper-no-questions {
  justify-content: center;
  padding: 24px 0;
  box-shadow: 0 4px 10px 0 #6A63761A;
  border-radius: 10px;
}

.no-questions {
  flex: 0 1;
  text-align: center;
}

.question:not(:last-child) {
  padding-bottom: 8px;
  border-bottom: 1px solid var(--border-color);
}

.no-questions-icon {
  margin: 0 auto;
  width: 68px;
  height: 68px;
  color: var(--color-purple-700);
}

@media (width < 768px) {
  .wrapper {
    padding: 16px;
    width: 100%;
  }
}

@media (width < 480px) {
  .wrapper {
    padding: 20px 10px;
    width: 100%;
  }

  .text {
    font-weight: var(--font-weight-400);
    font-size: var(--font-size-p-s);
  }

  .title {
    margin-bottom: 16px;
    padding-bottom: 8px;
    font-size: var(--font-size-h-xs);
  }

  .no-questions-icon {
    width: 44px;
    height: 44px;
  }
}

.questions {
  align-self: start;
  width: 100%;
}