.header-nav {
  gap: 6px;
}

.header-popover {
  padding: 6px;
  overflow-y: hidden !important; /* important необходим для переопределения стилей портала */
  border: none;
  border-radius: 0 0 6px 6px;
  transform: translateX(84px) translateY(17px);
}

.button:hover{
  text-decoration: none;
}

.arrow-open {
  transform: rotate(180deg);
}

/* для макета на 360рх */
@media screen and (width < 768px) {
  .header-popover {
    transform: translateX(0) translateY(12px);
  }
}