.card-image {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 170px;
  height: 188px;
}

.card-avatar {
  position: relative;
  flex-shrink: 0;
  width: 170px;
  height: 188px;
  overflow: hidden;
  border-radius: 20px;
  background-color: var(--color-purple-100);
}

.card-avatar>img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-placeholder {
  width: 100%;
  height: 188px;
}

.card-schedule {
  font-weight: var(--font-weight-400);
}

@media (width <=480px) {
  .card-image {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
  }

  .card-avatar {
    aspect-ratio: 296 / 263;
    width: 100%;
    height: auto;
  }
}