.container {
  display: grid;
  grid-template-columns: repeat(3, auto );
  gap: 20px;


}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

.icon {
  width: 46px;
  height: 46px;


}

.box {
  width: 36px;
  height: 38px;
  border-radius: 8px;
  background-color: var(--color-white-900);


}

.box.green {
  background-color: var(--color-green-750);
}

.box.orange {
  background-color: var(--color-yellow-800);
}

.box.red {
  background-color: var(--color-yellow-600);
}

@media screen and ( width <= 1024px) {
  .container {
    grid-template-columns: repeat(2, auto )
  }
}

@media screen and (width <= 728px) {
  .container {
    grid-template-columns: repeat(1, auto );
  }
}