.container {
	display: grid;
	grid-template-columns: repeat(3, auto );
	gap: 20px;


}

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;


}

.icon {
	width: 46px;
	height: 46px;


}

.box {
	width: 36px;
	height: 38px;
	border-radius: 8px;
	background-color: #fff;


}

.box.green {
	background-color: #008616;
}

.box.orange {
	background-color: #FFC234;
}

.box.red {
	background-color: #F3164E;
}

@media screen and ( width <= 1024px) {
	.container {
		grid-template-columns: repeat(2, auto )
	}
}

@media screen and (width <= 728px) {
	.container {
		grid-template-columns: repeat(1, auto );
	}
}