.interview-trainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: var(--container-m-b-desktop);
  line-height: 130%;
  white-space: pre-line;
}


.title {
  margin-bottom: 10px;
}

.subtitle {
  margin-bottom: 0;
}

.left-block {
  padding: clamp(10px, 1.5vw, 24px);
  box-sizing: border-box;
  width: 100%;
  max-width: 708px;
  height: 428px;
  box-shadow: var(--main-shadow);
  border-radius: 20px;
  background-color: var(--background-purple-block);
}

.left-block > p {
  color: var(--text-color-white);
}

.right-block {
  row-gap: 20px;
}

.image {
  box-sizing: border-box;
  width: 90%;
  box-shadow: var(--main-shadow);
  border-radius: 16px;
  object-fit: contain;
}

.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background-color: var(--background-light-hover);
}

.interview-trainer-wrapper {
  gap: 20px;
}

.title-block {
  align-self: baseline;
}

@media (width >= 768px) {
  .left-block {
    height: 521px;
  }

  .right-block {
    width: 100%;
  }

  .title {
    margin-bottom: 20px;
    font-size: var(--font-size-large-34);
  }

  .subtitle {
    margin-bottom: 20px;
  }
    
}

@media (width >= 1024px) {
  .left-block {
    height: 480px;
  }

  .interview-trainer {
    margin-top: 120px;
  }

  .title-block {
    position: absolute;
    top: 90px;
  }
}

@media (width >= 1440px) {
  .left-block {
    padding: 24px;
    height: 543px;
  }
}