.list {
  display: flex;
  gap: var(--font-size-h-xs);
  margin-left: var(--font-size-h-xs);
}

.route {
  display: inline-block;
  padding-bottom: 8px;
  border-bottom: 2px solid var(--text-color-link-active);
  font-weight: var(--font-weight-600);
  font-size: var(--font-size-p-m);
  font-family: var(--font-family);
  cursor: pointer;
}
