.input { 
  flex-grow: 1;
  width: 408px;
  max-width: 100%; 
  height: 48px; 
}

.button {
  padding: 14px;
  width: 170px !important;
  height: 48px; 
  font-weight: var(--font-weight-600);
}

.keywords {
  gap: 8px 16px;
}

@media (width <= 360) {
  .keywords {
    width: 100%;
  }
}