.input {
  width: 408px; 
  height: 48px;
  max-width: 100%; 
  flex-grow: 1; 
}

.button {
  width: 170px !important;
  height: 48px;
  padding: 14px; 
  font-weight: var(--font-weight-600);
}

.keywords {
  gap: 8px 16px;
}

@media (width <= 360) {
  .keywords {
    width: 100%;
  }
}