.card {
  width: 100%;
}

.seal-check-icon {
  width: 24px;
  height: 24px;
  fill: var(--color-yellow-900);
}

.user-switch-icon, 
.trend-up-icon,
.note-pencil-icon,
.clipboard-text-icon {
  width: 20px;
  height: 20px;
  color: var(--color-purple-700);
}

.member-button {
  margin-left: auto;
}

@media screen and (width <= 1023px) {
  .card {
    padding: 20px 16px;
  }
}

@media screen and (width <= 767px) {
  .card {
    padding: 20px 10px;
  }
}
