.pie-chart-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pie-chart-container {
  position: relative;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 307px;
  height: 307px;
}

.inner-circle-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 49px;
  width: 307px;
  height: 307px;
  border: 10px solid var(--color-white-900);
  border-radius: 50%;
}

.pie-chart-svg {
  width: 100%;
  height: 100%;
}

.pie-chart-segment {
  stroke-linecap: round;
  transition: stroke-dashoffset 0.3s ease-in-out;
}

.pie-chart-label {
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--text-color-light);
  text-align: center;
  font-weight: var(--font-weight-600);
  font-size: var(--font-size-p-l);
  transform: translate(-50%, -50%);
}

.pie-chart-legend {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.legend-item {
  display: flex;
  align-items: center;
  margin: 24px 0 0;
}

.legend-item:first-child {
  margin-top: 0;
}

.legend-color {
  margin-right: 12px;
  width: 7px;
  height: 38px;
  border-radius: 24px;
}

.legend-name {
  color: var(--color-black-400)
}

.legend-percent {
  color: var(--color-black-700)
}