.wrapper {
  margin-bottom: 20px;
}

.question-header-wrapper {
  display: flex;
}

.image-wrapper {
  margin-right: 10px;
}

.title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  margin-bottom: 16px;
  color: var(--text-color-primary);
  font-size: var(--font-size-h-s);
}

.description {
  color: var(--text-color-light);
  font-size: var(--font-size-p-m);
}

.label-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  width: 100%;
  max-width: 79px;
  max-height: 20px;
  border-radius: 30px;
  background-color: var(--color-green-007);
  text-transform: capitalize;
}

.label {
  color: var(--color-green-900);
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-p-xs);
}