.question-header-wrapper {
  display: flex;
}

.image-wrapper {
  margin-right: 10px;
}

.image {
  width: 170px;
  height: 114px;
  border-radius: 12px;
}

.title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  margin-bottom: 8px;
  color: var(--text-color-primary);
  line-height: 28.8px;
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-h-s);
}

.description {
  color: var(--text-color-light);
  line-height: 20.8px;
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-p-m);
}

.label-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  padding: 2px 8px;
  width: auto;
  max-height: 20px;
  border-radius: 30px;
  background-color: var(--color-green-007);
}

.label {
  color: var(--color-green-750);
  font-weight: var(--font-weight-600);
  font-size: var(--font-size-p-xs);
}

@media (width <= 767px) {
  .image-wrapper {
    display: flex;
    justify-content: center;
  }

  .title-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: -10px;
    max-width: 100%;
  }
 
  .label-wrapper {
    display: flex;
    width: 54px;
  }
}
 
@media (width <=564px) {
  .image{
    width: 296px;
    height: 307px;
  }
 
  .title-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: -10px;
  }
 
  .title {
    line-height: 120%;
    font-size: var(--font-size-p-s);
  }
 
  .description {
    line-height: 136%;
    font-size: var(--font-size-p-xss);
  }
}