.question-header-wrapper {
  display: flex;
}

.image-wrapper {
  align-content: center;
  margin-right: 10px;
}

.image {
  width: 170px;
  height: 114px;
  border-radius: 12px;
}

.title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  margin-bottom: 8px;
  color: var(--text-color-primary);
  font-size: var(--font-size-h-s);
}

.description {
  color: var(--text-color-light);
  font-size: var(--font-size-p-m);
}

.label-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  width: 100%;
  max-width: 79px;
  max-height: 20px;
  border-radius: 30px;
  background-color: var(--color-green-007);
  text-transform: capitalize;
}

.label {
  color: var(--color-green-750);
  font-weight: var(--font-weight-600);
  font-size: var(--font-size-p-xs);
}

@media (width <= 767px) {
  .question-header-wrapper {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 8px;
  }
 
  .image-wrapper {
    display: flex;
    grid-column: span 2;
    justify-content: center;
  }

  .title-wrapper {
    display: flex;
    grid-column: 1;
    flex-direction: column;
    max-width: 100%;
  }
 
  .label-wrapper {
    grid-column: 2;
    place-self: flex-start end; 
    width: 54px;
  }
}
 
@media (width <= 480px) {
  .question-header-wrapper {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 8px;
  }
 
  .image-wrapper {
    display: flex;
    grid-column: span 2;
    justify-content: center;
    margin-right: 0;
    margin-bottom: 6px;
  }

  .image{
    width: 296px;
    height: 307px;
  }
 
  .title-wrapper {
    display: flex;
    grid-column: 1;
    flex-direction: column;
    max-width: 225px;
  }
 
  .label-wrapper {
    grid-column: 2;
    place-self: flex-start end;
    width: 54px;
  }
 
  .title {
    line-height: 120%;
    font-size: var(--font-size-p-s);
  }
 
  .description {
    line-height: 136%;
    font-size: var(--font-size-p-xss);
  }
}