.card {
  gap: 7px;
  
  h3 {
    font-weight: var(--font-weight-600);
  }
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card-text {
  max-width: 644px;
  color: var(--text-color-lighter);
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-p-s);
}

.button {
  align-self: end;
}