.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.header-params {
  display: flex;
  gap: 40px;
}

.popup {
  position: relative;
  top: 8px;
  left: 15px;
  padding: 6px;
  border-radius: 20px;
}

.details-button {
  position: absolute;
  top: -8px;
  right: -20px;
  cursor: pointer;

  &:focus {
    border: 1px solid transparent;
  }
}

.details-button svg {
  color: var(--text-color-primary);
}

.image {
  margin-bottom: 24px;
  max-width: 100%;
  border-radius: 24px;
}