.banner {
  position: relative;
  margin-bottom: 20px;
  padding: 0 206px 0 222px;
  width: 100%;
  height: 71px;
  border-radius: 100px;
  background-color: var(--color-green-850);
}

.button {
  padding: 0 40px 0 24px;
  width: 170px;
  background-image: url("../../assets/images/ny/ny-decoration.png");
  background-position: 100%;
  background-size: 45px;
  background-repeat: no-repeat;
}

.img-start {
  position: absolute;
  top: -35px;
  left: 0;
  width: 150px;
}

.img-end {
  position: absolute;
  right: 20px;
  width: 180px;
}

.close {
  position: absolute;
  right: 16px;
}

@media screen and (width < 1024px) {
  .banner {
    padding: 0 48px 0 144px;
  }
}

@media screen and (width < 768px) {
  .banner {
    margin-top: 24px;
    padding: 10px;
    height: 150px;
    border-radius: 24px;
  }
	
  .button {
    width: 100%;
    background-position: 95%;
  }
	
  .close {
    top: -34px;
    right: 0;
  }
	
  .text {
    margin-right: 43px;
    max-width: 150px;
  }
}


