.container {
  margin: 0 auto;
  padding: 0 var(--container-padding);
  max-width: var(--container-width);
}

@media screen and (width <= 1439px) {
  .container {
    max-width: var(--container-width-lg);
  }
}

@media screen and (width <= 992px) {
  .container {
    max-width: var(--container-width-md);
  }
}

@media screen and (width <= 767px) {
  .container {
    max-width: var(--container-width-sm);
  }
}

@media screen and (width <= 576px) {
  .container {
    max-width: var(--container-width-mobile);
  }
}
