.popover-additional {
  position: absolute;
  top: 20px;
  right: 20px;
  display: none;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-black-200);
  border-radius: 8px;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

.popover-additional button:focus {
  border: none;
}

.wrapper {
  display: flex;
  gap: 20px;
}

.content {
  height: auto;
}

.main-info-wrapper {
  flex-grow: 1;
}

.additional-info-wrapper {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  gap: 20px;
  width: 360px;
}

.search {
  position: sticky;
  top: 0;
  height: auto;
}

.popover-additional-info-wrapper {
  width: 100%;
  max-width: 314px;
}

.divider {
  margin-bottom: 24px;
  border-top-width: 0;
  border-bottom-color: var(--color-black-100);
}

.question-skeleton {
  margin-top: 24px;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--border-color);
}

.filter-skeleton-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.filter-skeleton-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

@media (width <= 1198px) {
  .popover-additional {
    display: flex;
  }
  
  .additional-info-wrapper {
    display: none;
  }
}

@media (width <= 480px) {
  .popover-additional {
    top: 10px;
  }
}
