.link {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--text-color-link-active);
  text-decoration: none;
}

.icon {
  transition: .3s ease-in-out;
}

.link:hover .icon {
  transform: translateX(5px);
}

.card {
  position: relative;
  padding: 40px 16px 16px;
}

.desktop-link {
  position: absolute;
  top: 12px;
  right: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--text-color-link-active);
  text-decoration: none;
}

@media (width <= 480px) {
  .link {
    justify-content: flex-end;
  }

  .card {
    padding: 16px;
  }
} 