.wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.card-title {
  margin: 0;
  color: var(--text-color-black-landing);
  line-height: 127%;
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-large-34);
}

.card-email {
  margin-bottom: -4px;
  line-height: 150%;
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-p-s); 
}

.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.card-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 8px;
}

.svg {
  width: var(--font-size-h-s);
  height: var(--font-size-h-s);
  stroke: var(--background-primary);
  fill: var(--background-primary);
}

.card-text {
  margin: 0;
  width: 476px;
  color: var(--text-color-black-landing);
  line-height: 120%;
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-p-m);
}

.card-text-email {
  margin: 0;
  width: 476px;
  color: var(--background-primary);
  line-height: 120%;
  font-weight: var(--font-weight-600);
  font-size: var(--font-size-p-m);
}

.card-input-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.input {
  padding: 4px 16px;
  width: 328px;
  border: 1px solid var(--border-input);
  border-radius: 68px;
  

  input {
    color: var(--text-color-bright) !important;
    line-height: 127%;
    font-size: var(--font-size-p-m);
  }
}











