.slider {
  display: flex;
  justify-content: space-between;
  padding: 8px 0 24px;
  border-bottom: 1px solid var(--border-color);
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.question {
  display: list-item;
  margin-bottom: 16px;
  margin-left: 22px;
  list-style: disc;
  font-size: var(--font-size-h-xs);
}

.question::marker {
  color: var(--text-color-link-active);
}

.answer {
  margin-right: auto;
  border: none;
  background: none;
  color: var(--text-color-link-active);
  font-size: var(--font-size-p-s);
}

.response-buttons {
  margin-top: auto;
}

.image {
  width: 526px;
  height: 303px;
  border-radius: 24px;
}