.panel {
  display: flex;
  justify-content: space-between;
}

.button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.arrow {
  width: 28px;
}

@media (width <= 1024px) {
  .panel {
    position: absolute;
    bottom: 67px;
    padding-bottom: 16px;
    width: 100%;
    border-bottom: 1px solid var(--border-color);
  }
}