.panel {
  display: flex;
  justify-content: space-between;
}

.button-wrapper {
  display: flex;
  aspect-ratio: 1;
  height: 28px;
}

.button {
  padding: 0;
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
}

@media (width <= 1024px) {
  .panel {
    bottom: 67px;
    width: 100%;
  }
}