.footer-resources-links {
  align-items: center;
  gap: 8px;
  max-height: 28px;
}

.docs-link {
  margin-right: 10px;
}

.figma-link, 
.github-link,
.telegram-link {
  padding-top: 5px;
}

.figma-link svg path:nth-child(1) {
  fill: #00BCFF;
}

.figma-link svg path:nth-child(2) {
  fill: #00CF7F;
}

.figma-link svg path:nth-child(3) {
  fill: #FF7361;
}

.figma-link svg path:nth-child(4) {
  fill: #FF4D12;
}

.figma-link svg path:nth-child(5) {
  fill: #B659FF;
}


@media screen and (width < 768px) {
  .docs-link {
    margin-right: 4px;
  }
}
