.switch {
  position: relative;
  display: inline-block;
  width: 28px;
  min-width: 28px;
  height: 16px;
}

.switch-input {
  opacity: 0;
  width: 0;
  height: 0;

  &:focus,
  :active {
    + .switch-slider {
      box-shadow: 0 0 0 1px var(--palette-ui-purple-500);
    }
  }

  &:checked {
    + .switch-slider {
      background-color: var(--palette-ui-purple-700);
    }

    + .switch-slider::before {
      transform: translateX(12px);
    }

    &:hover:not([disabled]) {
      + .switch-slider {
        background-color: var(--palette-ui-purple-500);
      }
    }

    &:disabled {
      + .switch-slider::before {
        transform: translateX(10px);
      }
    }
  }

  &:disabled {
    + .switch-slider {
      box-shadow: 0 0 0 1px var(--palette-ui-black-50);
      background-color: var(--palette-ui-white-900);

      &::before {
        background-color: var(--palette-ui-black-50);
      }
    }
  }
}

.switch-slider {
  position: absolute;
  inset: 0;
  border-radius: 16px;
  background-color: var(--palette-ui-black-50);
  transition: 0.2s;
  cursor: pointer;

  &::before {
    position: absolute;
    bottom: 2px;
    left: 2px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--palette-ui-white-900);
    transition: 0.4s;
    content: '';
  }

  &:hover {
    box-shadow: 0 0 0 1px var(--palette-ui-purple-500);
  }
}

.switch-label {
  margin-left: 10px;
}