.preparation-empty {
  padding: 24px;
}

.inactive-description {
  padding: 16px;
  width: 100%;
  min-width: 316px;
  max-height: 340px;
  border: 1px solid var(--color-purple-300);
  border-radius: 16px;
}

.preparation-noactiveimage {
  width: 308px;
  height: 340px;
  border-radius: 16px;
  object-fit: contain;
}

.vector-icon {
  min-width: 44px;
  min-height: 44px;
}

.inactive-title {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 12px;
}

@media (width <= 1440px) {
  .inactive-description{
    max-width: 500px;
  }
}

@media (width <= 1198px) {
  .preparation-empty {
    padding: 16px;
  }
}

@media (width <= 768px) {  
  .preparation-empty {
    padding: 8px;
  }  
  
  .inactive-description{
    max-width: none;
  }
}

@media (width <= 480px) {  
  .preparation-empty{
    padding: 0;
  }
}