.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 448px;
  transform: translate(-50%, -50%);
}

.title {
  margin: 0 0 30px;
  color: var(--text-color-bright);
  text-align: center;
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-h-xs);
}

.subtitle {
  margin-bottom: 20px;
  color: var(--text-color-bright);
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-p-s);
}

.input-wrapper div:has(+ div) {
  border-color: var(--error-color-red);
  caret-color: var(--caret-color-red);
  background-color: var(--background-block);
}

.input-wrapper div:first-child:focus-within:has(+ div) {
  box-shadow: var(--focus-shadow);
  border-color: var(--border-focus-purple);
  caret-color: var(--caret-color-red);
  background-color: var(--background-block);
}

@media (width <= 480px) {
  .wrapper {
    margin: 0 16px;
    width: 100%;
    min-width: 200px;
  }
}
