.banner-button {
  width: 337px;
  height: 60px;
  border: none;
  border-radius: 12px;
  color: var(--color-purple-700);
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-p-l);
  cursor: pointer;
}


@media screen and (width <= 480px) {
  .banner-button {
    width: 100%;
  }
}

