.yeahub-textarea {
  padding: 1rem;
  width: inherit;
  height: inherit;
  overflow: auto;
  border: 1px solid var(--palette-ui-black-50);
  border-radius: 1.5rem;
  background-color: var(--palette-ui-white-900);
  color: var(--palette-ui-black-900);
  transition: 0.2s;
  cursor: text;
}

/* .yeahub-textarea::-webkit-resizer {
      display: none;
    } */
  
.yeahub-textarea:hover {
  border-color: var(--palette-ui-purple-300);
}
  
.yeahub-textarea:focus {
  box-shadow: var(--yeahub-focus-shadow);
  border-color: var(--palette-ui-purple-500);
}
  
.yeahub-textarea:active {
  border-color: var(--palette-ui-purple-700);
}
  
.yeahub-textarea:disabled {
  border: 1px solid var(--palette-ui-purple-50);
  color: var(--palette-ui-purple-25);
  cursor: not-allowed;
}
  
.yeahub-textarea::placeholder {
  color: var(--palette-ui-black-100);
}
  
.yeahub-textarea-valid {
  outline: 1px solid var(--palette-green-500);
  border-color: var(--palette-ui-green-700);
}

.yeahub-textarea-valid:focus {
  box-shadow: var(--yeahub-focus-shadow-valid);
  outline: 2px solid var(--palette-green-500);
  border-color: var(--palette-ui-green-700);
}

.yeahub-textarea-valid:hover {
  border-color: var(--palette-ui-green-800);
}

.yeahub-textarea-valid:active {
  border-color: var(--palette-ui-green-700);
}

.yeahub-textarea-error {
  border-color: var(--palette-ui-red-700);
}

.yeahub-textarea-error:hover {
  border-color: var(--palette-ui-red-800);
}
  
.yeahub-textarea-error:focus {
  box-shadow: var(--yeahub-focus-shadow-error);
  border-color: var(--palette-ui-red-700);
}
  
.yeahub-textarea-error:active {
  border-color: var(--palette-ui-red-700);
}