.card {
  width: 100%;
  max-width: 455px;
}

@media (width > 1280px) {
  .card-skeleton {
    width: 455px;
  }
}

@media (width < 1280px) {
  .card {
    padding: 16px;
    max-width: 50%;
  }
}

@media (width < 768px) {
  .card {
    padding: 20px 10px;
    max-width: 100%;
  }
}

.container {
  margin-top: 4px;
}
