.card {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 16px;
  height: 100%;
}

.user-data {
  display: flex;
  gap: 16px;
  width: 100%;
}

@media (width <= 768px) {
  .card {
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
  }

  .card > .card-edit-block {
    order: 1;
  }

  .user-data {
    flex-direction: column;
    order: 2;
    width: 100%;
  }
}
