.nav {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 12px;
  border-radius: 12px;
  background-color: var(--color-white-900);
  color: var(--text-color-primary);
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.item:hover {
  background-color: var(--color-black-25);
}

.item-active, .item-active:hover {
  background-color: var(--color-purple-100);
}

.wrap {
  display: flex;
  align-items: center;
  gap: 8px;
}

.image {
  width: 24px;
  height: 24px;
}

