.card {
  max-width: 740px;
  box-shadow: 0 4px 10px 0 rgb(106 99 118 / 10%);
  border-radius: 24px !important;

  h3 {
    line-height: 130%;
    font-weight: var(--font-weight-600);
  }

  p {
    margin-top: -12px;
  }
}

.card-text {
  color: var(--text-color-lighter);
  line-height: 120%;
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-p-s);
}

