.wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card-title {
  margin: 0;;
  line-height: 127%;
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-h-sm);
}

.card-text {
  margin: 0;
  width: 476px;
  color: var(--text-black);
  line-height: 120%;
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-p-m);
}

.card-email {
  line-height: 150%;
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-p-s);
}

.card-input-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.button {
  align-self: end;
  cursor: pointer;
}
