.wrapper {
  flex-basis: 60%;
}

.button {
  margin-top: 16px;
}

.button:hover {
  cursor: pointer;
}

@media (width <= 800px) {
  .wrapper {
    margin-bottom: 24px;
  } 
}

@media (width <= 480px) {
  .wrapper {
    margin-bottom: 16px;
  } 
}