.wrapper {
  flex-basis: 60%;
}

.button {
  justify-content: flex-start;
  margin-top: 16px;
  
  span {
    margin-left: 0;
  }
}

.button:hover {
  cursor: pointer;
}

@media (width <= 800px) {
  .wrapper {
    margin-bottom: 24px;
  } 
}

@media (width <= 480px) {
  .wrapper {
    margin-bottom: 16px;
  } 
}