.control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  border-top: 0.5px solid var(--text-color-the-lightest);
  line-height: 22px;
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-p-m);
  text-wrap: nowrap;
}

.control > div {
  width: 28px;
  height: 28px;
}

.control > div svg {
  width: 28px;
  height: 28px;
}

.control-list {
  display: flex;
  gap: 8px;
}

.control-list li {
  display: flex;
  align-items: center;
  padding: 10px 12px;
}

.control-list span {
  margin-left: 8px;
  color: var(--text-color-light);
}

.control-list li > div {
  width: 24px;
  height: 24px;
}

.control-list li > div svg {
  width: 24px;
  height: 24px;
}

.control-list li:last-child {
  border-radius: 12px;
  background-color: var(--background-light-hover);
}

.control-list li:last-child > span{
  color: var(--text-color-link-active);
}

.control > div:nth-child(2) {
  order: 3;
}

@media screen and (width <= 767px) {
  .control {
    padding-top: 7.41px;
    border-top: 0.23px solid var(--text-color-the-lightest);
    line-height: 10px;
    font-weight: var(--font-weight-500);    
  }

  .control > div {
    width: 12.97px;
    height: 12.97px;
  }

  .control > div svg {
    width: 12.97px;
    height: 12.97px;
  }

  .control-list {
    display: flex;
    gap: 3.71px;
    padding: 0;
  }

  .control-list li {
    display: flex;
    align-items: center;
    padding: 5.19px 5.21px;
  }

  .control-list span {
    margin-left: 3.71px;
    font-size: var(--font-size-p-xss);
  }

  .control-list li > div {
    width: 11.12px;
    height: 11.12px;
  }

  .control-list li > div svg {
    width: 11.12px;
    height: 11.12px;
  }

  .control-list li:last-child {
    border-radius: 5.56px;
  }
}
