.title {
  margin: 0;
}

.content {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 740px;
  max-width: 1000px;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.separator {
  margin: 16px 0;
  width: 100%;
  height: 1px;
  background-color: var(--color-black-50);
}


