.title {
  margin: 0;
}

.content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 740px;
}

.right {
  min-width: 360px;
}

.separator {
  margin: 16px 0;
  width: 100%;
  height: 1px;
  background-color: var(--color-black-50);
}

@media (width < 1440px) {
  .content {
    display: flex;
    flex-direction: column-reverse;
  }
}


