.header {
  width: 312px;  
  height: 139px;
  background: linear-gradient(
    180deg,
    var(--color-white-900) 0%,
    var(--color-purple-100) 12.47%,
    color-mix(in srgb, var(--color-purple-500), var(--color-purple-600) 50%) 45.26%,
    var(--color-purple-1000) 100%    
  );
}


