.title {
  margin-bottom: 12px;
  font-weight: var(--font-weight-500);
}

.subtitle {
  margin-bottom: 10px;
}

.title-block {
  white-space: pre-line;
  align-self: flex-start;
}

.collection-wrapper {
  margin-top: 120px;
  max-width: 100%;
}

@media (width <= 1200px) {
  .collection-wrapper {
    margin-top: 100px;
  }
}

@media (width <= 768px) {
  .collection-wrapper {
    margin-top: 70px;
  }
}

@media (width <= 360px) {
  .collection-wrapper {
    margin-top: 40px;
  }
}