.layout {
  display: grid;
  grid-template-rows: 76px 1fr;
  grid-template-columns: auto 1fr;
  overflow: hidden;
  background-color: var(--background-app);
  color: var(--text-color-primary);
  transition:
    background-color 0.3s ease-in-out,
    color 0.3s ease-in-out,
    grid-template-columns 0.4s ease-in-out;
}

.sidebar {
  grid-row: 1 / -1;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 24px 20px;
  height: calc(100vh - 76px);
  max-height: 100%;
  overflow-y: auto;
}

.container {
  width: 100%;
  max-width: 1600px;
}

.sidebar-wrapper {
  padding: 16px;
}

.drawer {
  width: 280px;
}

@media (width <= 480px) {
  .main {
    padding: 16px;
  }
}
