.description {
  margin-top: 3px;
  margin-bottom: 6px;
  max-width: 600px;
}

.desktop {
  line-height: 120%;
  font-weight: var(--font-weight-500);
}

.mobile {
  display: none;
  font-weight: var(--font-weight-400);
}

@media screen and (width <= 1000px) {
  .description {
    margin-top: 0;
    max-width: none;
    text-align: center;
  }
}

@media screen and (width <= 576px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
    width: 92%;
  }

  .description {
    margin-bottom: 2px;
  }
	
}

