.slide-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.slide-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 371px;
}

.slide-image {
  width: 288px;
  height: 250px;
  object-fit: contain;
}

.slide-text {
  margin-top: 10px;
  max-width: 189px;
  color: var(--text-color-black-900);
  text-align: center;
  line-height: 130%;
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-p-m);
}

/* stylelint-disable selector-pseudo-class-no-unknown */
:global(.slick-dots) {
  bottom: -33px !important;
}

:global(.slick-dots li) {
  margin: 0 -6px !important;
}

:global(.slick-dots li button::before) {
  width: 10px !important;
  height: 20px !important;
  color: var(--color-white-900) !important;
  opacity: 1 !important;
}

:global(.slick-dots li.slick-active) button::before {
  color: var(--color-purple-900) !important;
}

@media screen and (width < 1024px) {
  .slide-card {
    height: 346px;
  }
}

@media screen and (width < 993px) {
  .slide-card {
    height: 346px;
  }
}

@media screen and (width < 768px) {
  :global(.slick-dots) {
    display: none !important;
  }
}