.switch .wrapper {
  width: 47px;
  height: 22px;
}

.switch span.pin {
  background-color: var(--color-purple-700);
}

.switch:hover span.pin {
  background-color: var(--color-purple-500);
}

.switch input:focus + span.pin {
  box-shadow: none;
}

.switch span.pin::before {
  position: absolute;
  bottom: 2px;
  left: 2px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--color-white-900);
  transition: 0.4s;
  content: '';
}

.switch span.pin::after {
  position: absolute;
  top: 50%;
  left: 28px;
  width: 14px;
  height: 14px;
  background-image: url('../assets/icons/moon.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transform: translateY(-50%);
  transition: 0.4s;
  content: '';
}

.switch input:checked + span.pin {
  box-shadow: 0 0 0 1px var(--color-purple-500);
  background-color: var(--color-white-900);
}

.switch input:checked + span.pin::before {
  background-color: var(--color-purple-700);
  transform: translateX(25px);
}

.switch input:checked + span.pin::after {
  left: 5px;
  background-image: url('../assets/icons/sun.png');
}