.dropdown-content {
  position: absolute;
  right: 0; 
  left: 0;
  z-index: 1; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-height: 276px; 
  overflow-y: auto;
  background: var(--background-block); 
  direction: rtl; 
  transition: transform 0.2s ease;

  &::-webkit-scrollbar {
    width: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--background-primary);
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }
}

.option-s {
  width: 328px;
  max-height: 184px;
}

.option-l {
  width: 408px;
  max-height: 276px;
}

.dropdown-position-bottom {
  top: 100%;
  transform: translateY(8px);
}

.dropdown-position-top {
  top: auto;
  bottom: 100%;
  transform: translateY(-8px);
}






