
.main-title {
  margin-bottom: 32px;
}

.textarea {
  display: block;
  margin-top: 20px;
  width: 100%;
  max-width: 220px;
  height: 200px;
  min-height: 80px;
  resize: vertical;
  border-radius: 16px;
}

.input-form {
  width: 100%;
  min-width: 100px;
  max-width: 408px;
}

.select {
  width: 100%;
  max-width: 706px;
}

.select > span {
  display: inline-block;
  margin-bottom: 8px;
  color: var(--text-color-light);
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-p-s);
}
