.wrapper {
  flex-basis: 58%;
  width: 100%;
  height: 100%;
}

.content {
  max-width: 408px;
  height: 100%;
}

.title {
  margin-top: 228.5px;
  margin-bottom: 30px;
  color: var(--text-color-bright);
  text-align: center;
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-h-l);
}

.subtitle {
  margin-right: 54px;
  margin-bottom: 20px;
  color: var(--text-color-lighter);
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-p-s);
}

.registration-label-wrapper {
  margin: 20px 0 70px;
}

@media (width <= 768px) {
  .wrapper {
    flex-basis: 100%;
  }

  .registration-label-wrapper {
    margin: 20px 0 40px;
  }

  .title {
    margin-top: 109.5px;
  }
}

@media (width <= 480px) {
  .title {
    margin-top: 68px;
    margin-bottom: 24px;
    font-size: var(--font-size-h-s);
  }

  .content {
    margin: 0 16px;
    width: auto;
    max-width: 408px;
  }

  .registration-label-wrapper {
    margin: 20px 0;
  }

  .subtitle {
    margin-right: 0;
  }
}
