.skills-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skills-title {
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-h-xs);
}

.skills-edit {
  cursor: pointer;
  font-size: var(--font-size-p-s);
}