.projects-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 152px;
}

.projects-img {
  position: relative;
  flex-shrink: 0;
  width: 152px;
  height: 152px;
  overflow: hidden;
  border-radius: 20px;
  background-color: var(--color-purple-100);
}

.projects-img > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.projects-name {
  line-height: 20px;
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-p-s);
}