.interview {
  width: calc(100% - 370px - 20px);
}

.statistics {
  width: 370px;
  min-height: 480px;
}

.list {
  align-self: start;
  width: calc(50% - 10px);
}

.collections {
  align-self: start;
  width: calc(50% - 15px);
}

@media (width < 1440px) {
  .interview {
    width: 100%;
  }

  .statistics {
    width: 100%;
    min-height: auto;
  }
}

@media (width < 1280px) {
  .collections {
    width: 100%;
  }

  .list {
    width: 100%;
  }
}

@media (width < 480px) {
  .interview {
    gap: 20px;
  }

  .collections {
    gap: 16px;
  }

  .list {
    gap: 16px;
  }
}
