.resource-body {
  display: flex;
  align-items: start;
  align-self: stretch;
  gap: 20px;  

}

.image-wrapper {
  display: flex;
  padding: 10px;
  min-width: 149px;
  min-height: 157px;
}


@media screen and (width <= 480px) {
  .resource-body {
    flex-direction: column;
  }

  .image-wrapper {
    width: 100%;
  }
}