.wrapper {
  gap: 20px;
}

.banners-container {
  align-items: flex-start;
}

.title {
  margin: 0;
}

.text {
  margin: 0 auto;
  margin-top: 60px; 
  max-width: 480px; 
  text-align: center;
}

.right-banners {
  min-width: 455px;
  max-width: 598px;
}

@media (width < 768px) {
  .banners-container {
    flex-direction: column;
  }

  .right-banners {
    min-width: unset;
    max-width: unset;
  }
}