.wrapper {
  display: flex;
  flex-direction: column;
  gap: 19px;
  max-width: 740px;
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title {
  margin: 0;
  color: var(--text-color-bright);
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-h-m);
}

.text {
  display: flex;
  margin: 0 auto;
  margin-top: 60px; 
  max-width: 480px; 
  color: var(--text-color-more-lightest); 
  text-align: center;
}