.wrapper {
  display: flex;
  flex-direction: column;
  gap: 19px;
  max-width: 740px;
}

.title {
  margin: 0;
}

.text {
  margin: 0 auto;
  margin-top: 60px; 
  max-width: 480px; 
  text-align: center;
}