.btn {
  display: flex;
  justify-content: start;
  padding: 6px 20px;

  &:hover {
    color: var(--color-purple-700)
  }
}

@media (width <= 480px) {
  .btn {
    font-weight: var(--font-weight-400);
    font-size: var(--font-size-p-s);
  }

  .icon {
    width: 24px;
    height: 24px;
  }
}