.inputs-wrapper {
  flex-flow: column wrap;
  max-width: 660px;
}

.label {
  width: 100%;
  max-width: 320px;

}

.label span {
  display: inline-block;
  margin-bottom: 8px;
  color: var(--color-black-700);
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-p-s);
}

.input {
  min-height: 48px;
  border-radius: 68px;
}

.input input {
  color: var(--color-black-900);
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-p-m);
}

.error {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  height: 1.25rem;
  color: var(--color-red-600);
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-p-m)
}

.container-btn{
  border-bottom: 1px solid var(--color-black-50);
}

.checkbox{
  color: var(--color-black-700);
}

.btn-text {
  color: var(--color-red-600);
}
  