.container {
  margin-bottom: 120px;
  padding: 0;
  max-width: var(--container-width);
}

@media screen and (width < 1200px) {
  .container {
    margin-bottom: 100px;
  }
}

@media screen and (width < 1024px) {
  .container {
    max-width: var(--container-width-mobile);
  }
}

@media screen and (width < 768px) {
  .container {
    margin-bottom: 60px;
    max-width: var(--container-width-mobile);
  }
}

@media screen and (width < 360px) {
  .container {
    margin-bottom: 40px;
  }
}
