.footer-main {
  flex-direction: column;
  margin-bottom: 14px;
  border-bottom: 1px solid var(--color-border);
}

.footer-logo {
  width: 99px;
  height: 32px;
}

.footer-title {
  margin: 12px 0 14px;
}

.footer-description {
  margin-bottom: 18px;
}

@media screen and (width < 768px) {
  .footer-description {
    margin-bottom: 16px;
  }
}