.question-interface {
  padding: 24px 24px 57px;
  max-width: 701px;
  max-height: 489px;
  border-radius: 12px;
  background-color: var(--background-block);
}

.caption {
  display: flex;
  gap: 36px;
  margin-bottom: 24px;
  line-height: 22px;
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-p-m);
}

.caption svg {
  min-width: 43px;
  height: 45px;
}

.caption p {
  padding-right: 160px;
  color: var(--text-color-light);
}

.question-example {
  position: relative;
  padding: 14px 27px;
  box-shadow: var(--main-shadow);
  border-radius: 20px;
  color: var(--text-color-primary);
}

.dots-icon {
  position: absolute;
  top: 49px;
  right: 18px;
  transform: scale(1.2);
}

.chevron-icon {
  position: absolute;
  top: 11px;
  right: 29px;
  transform: scale(0.8);
}

.question {
  display: flex;
  align-items: baseline;
  margin-bottom: 24px;
  color: var(--text-color-bright);
  font-size: var(--font-size-h-xs);
}

.question::before {
  flex-shrink: 0;
  margin-right: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--text-color-link-active);
  transform: translateY(-50%);
  content: '';
}

.question-body {
  position: relative;
  padding: 0 22px 20px;
}

.question-body::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--color-black-150);
  content: '';
}

.question-info {
  display: flex;
  gap: 43px;
  margin-bottom: 25px;
}

.question-tag {
  padding: 6px 11px;
  border-radius: 4px;
  background-color: var(--background-light-hover);
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-p-m);
}

.question-tag span {
  padding-inline: 5px;
  border-radius: 4px;
  background-color: var(--text-color-link-active);
  color: var(--background-block);
}

.answer p:not(:last-child) {
  margin-bottom: 24px;
}


@media screen and (width <= 1439px) {
  .question-interface {
    padding-bottom: 25px;
    max-width: 100%;
  }

  .caption {
    gap: 24px;
    line-height: 20px;
  }

  .caption p {
    padding-right: 118px;
  }
  
}

@media screen and (width <= 992px) {
  .caption {
    margin-bottom: 17px;
  }

  .question-example {
    padding: 23px 27px 22px 24px;
  }

  .chevron-icon {
    top: 17px;
    right: 25px;
  }

  .dots-icon {
    top: 56px;
    right: 17px;
  }

  .question {
    margin-bottom: 18px;
    font-size: var(--font-size-p-l);
  }

  .question-body {
    padding: 0 22px 14px;
  }

  .question-info {
    margin-bottom: 19px;
  }

  .question-tag {
    padding: 6px;
    font-size: var(--font-size-p-s);
  }

  .answer {
    line-height: 145%;
    font-size: var(--font-size-p-s);
  }

  .answer p:not(:last-child) {
    margin-bottom: 21px;
  }

}

@media screen and (width <= 767px) {
  .question-interface {
    padding: 16px;
  }

  .caption {
    gap: 16px;
    margin-bottom: 16px;
    line-height: 19px;
    font-size: var(--font-size-p-s);
  }

  .caption p {
    padding-right: 0;
  }

  .caption > div {
    width: 45px;
    height: 40px;
  }

  .caption > div svg {
    width: 45px;
    height: 40px;
  }
}

@media screen and (width <= 576px) {
  .question-interface {
    padding-top: 10px;
  }

  .caption {
    margin-bottom: 14px;
  }

  .caption p {
    line-height: 123%;
  }

  .question-example {
    padding: 10px;
  }

  .dots-icon {
    top: 29px;
    right: 5px;
    transform: scale(1);
  }

  .chevron-icon {
    top: 6px;
    right: 6px;
    transform: scale(0.4);
  }

  .question {
    margin-bottom: 0;
    font-size: var(--font-size-p-xss);
  }

  .question-body {
    padding: 0 2px 7px 14px;
  }

  .question-info {
    gap: 10px;
    margin-bottom: 6px
  }

  .question-tag {
    padding: 0 3px;
    font-size: var(--font-size-p-xxs);
  }

  .question::before {
    width: 4px;
    height: 4px;
  }

  .answer {
    line-height: 131%;
    font-size: var(--font-size-p-xxs);
  }

  .answer p:not(:last-child) {
    margin-bottom: 10px;
  }


}
