.wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.icon {
  width: 20px;
  height: 20px;
  color: var(--color-purple-700)
}

.media-wrapper p {
  display: inline;
}

.card {
  width: 100%;
  min-width: min(100%, 455px);
  max-width: 598px;
}

@media screen and (width <= 1023px) {
  .card {
    padding: 20px 16px;
    max-width: 100%;
  }
}

@media screen and (width <= 767px) {
  .card {
    padding: 20px 10px;
    min-width: unset;
  }
}