.wrapper {
  padding: 20px;
  width: 100%;
}

.img {
  height: 186px;
  object-fit: contain;
}

.title {
  font-size: var(--font-size-p-l);
}

.button {
  width: 240px;
}

@media (width <= 360px) {
  .title {
    font-size: var(--font-size-p-m);
  }
}

