.param {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 34px;
}

.text {
  color: var(--text-color-lightest);
}

@media (width <= 1024px) {
  .param {
    gap: 16px;
  }
}

@media (width <= 480px) {
  .param {
    margin-bottom: 24px;
  }
}