.buttons {
  position: absolute;
  top: 25.4px;
  right: 31.67px;
  display: flex;
  flex-direction: column;
}

.collapse,
.info {
  position: relative;
}

.collapse span::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.44px;
  height: 10.4px;
  border-radius: 1.44px;
  background-color: var(--color-purple-700);
  content: '';
}

.collapse .left::before {
  transform: rotate(45deg);
}

.collapse .right::before {
  left: 6.5px;
  transform: rotate(-45deg);
}

.info span::before {
  position: absolute;
  top: 0;
  left: 10.4px;
  width: 2.6px;
  height: 2.6px;
  border-radius: 50%;
  background-color: var(--color-gray-dot);
  content: '';
  opacity: 0.8;
}

.info span.middle::before {
  top: 5.2px;
}

.info span.bottom::before {
  top: 10.4px;
}

@media screen and (width <= 1439px) {
  .buttons {
    top: 22.28px;
    right: 19.43px;
  }

  .collapse span::before {
    width: 1.32px;
    height: 9.53px;
    border-radius: 1.32px;
  }

  .collapse .right::before {
    left: 6px;
  }

  .info span::before {
    right: 18.56px;
    width: 2.38px;
    height: 2.38px;
  }

  .info span.middle::before {
    top: 4.76px;
  }

  .info span.bottom::before {
    top: 9.52px;
  }
}

@media screen and (width <= 767px) {
  .buttons {
    top: 11.73px;
    right: 9.38px;
  }

  .collapse span::before {
    width: 0.67px;
    height: 4.84px;
    border-radius: 0.67px;
  }

  .collapse .right::before {
    left: 3.19px;
  }

  .info span::before {
    left: 4.84px;
    width: 1.21px;
    height: 1.21px;
  }

  .info span.middle::before {
    top: 2.42px;
  }

  .info span.bottom::before {
    top: 4.84px;
  }
}
