.description {
  flex: 1 0 350px;
}
  
.textarea-container {
  width: 100%;
  max-width: 706px;
}
  
.textarea {
  padding: 16px;
  width: 100%;
  max-width: 706px;
  height: 150px;
  overflow-y: auto;
  border: 1px solid var(--color-black-50);
  border-radius: 16px;
  resize: none;
}
 
.textarea::-webkit-scrollbar {
  width: 3px; 
}
 
.textarea::-webkit-scrollbar-thumb {
  background-color: rgb(0 0 0 / 0%);
}

.textarea:focus {
  outline: none;
}

@media (width < 768px) {
  .container {
    flex-wrap: wrap;
  }
}