.footer {
  display: flex;
  justify-content: center;
  padding: 40px 0 18px;
  background: var(--color-purple-1000);
}

.footer-content {
  flex-direction: column;
  width: 100%;
  max-width: var(--container-width);
}


@media screen and (width < 1440px) {
  .footer {
    padding: 40px 60px 18px;
  }
}


@media screen and (width < 1200px) {
  .footer {
    padding: 30px 30px 18px;
  }
}


@media screen and (width < 768px) {
  .footer {
    padding: 10px 10px 16px;
  }
}
