.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  border-radius: 24px;
}

.select {
  width: 360px;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--button-foreground);
}

.plus-svg {
  margin-left: 8px;
  width: 18px;
  height: 18px;
  stroke-width: 0;
  fill: var(--color-white-900);
}

.card {
  z-index: 1;
}
