.container {
  position: absolute;
  top: 192px;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: 12.4px;
  width: 186px;
  border-radius: 6.2px;
  background-color: var(--background-block);
}

.container p {
  margin-bottom: 10px;
  line-height: 21.86px;
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-p-m);
}

.container span {
  margin-bottom: 5px;
  color: var(--text-color-the-lightest);
  line-height: 13.66px;
  font-size: var(--font-size-p-xss);
}

.progress-bar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 1px;
  list-style: none;
}

.progress-bar li {
  border-bottom: 4.13px solid var(--background-demo-progress-bar);
}

.progress-bar li:first-child {
  border-radius: 15.5px 0 0 15.5px;
}

.progress-bar li:nth-child(2) {
  border-bottom: 6.2px solid var(--background-demo-progress-bar);
}

@media screen and (width <= 767px) {
  .container {
    top: auto;
    bottom: 16px;
    padding: 7.4px 10.93px;
    width: 164px;
    border-radius: 5.47px;
  }

  .container p {
    margin-bottom: 6.81px;
    line-height: 17px;
    font-weight: var(--font-weight-500);
    font-size: var(--font-size-p-xs);
  }

  .container span {
    margin-bottom: 4.56px;
    line-height: 12px;
    font-size: var(--font-size-p-xxs);
  }

  .progress-bar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 1px;
    list-style: none;
  }

  .progress-bar li {
    border-bottom: 3.64px solid var(--background-demo-progress-bar);
  }

  .progress-bar li:first-child {
    border-radius: 13.67px 0 0 13.67px;
  }

  .progress-bar li:nth-child(2) {
    border-bottom: 5.47px solid var(--background-demo-progress-bar);
  }
}
