.input {
  padding-left: 20px;
  width: 100%;
  min-height: 48px;
  background-color: var(--background-block);
}

.input-wrapper {
  margin-bottom: 16px;
}

.input-wrapper label span {
  display: inline-block;
  margin-bottom: 8px;
  color: var(--text-color-primary);
  line-height: 21px;
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-p-s);
}

.input-wrapper input::placeholder {
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-p-m);
}

.input-wrapper label div p {
  height: 16px;
  color: var(--error-color-red);
  line-height: 1.36;
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-p-xs) !important;
  user-select: none;
}

.input-wrapper div:has(+ div) {
  border-color: var(--error-color-red);
  caret-color: var(--caret-color-red);
  background-color: var(--background-block);
}

.input-wrapper div:first-child:focus-within:has(+ div) {
  box-shadow: var(--focus-shadow);
  border-color: var(--border-focus-purple);
  caret-color: var(--caret-color-red);
  background-color: var(--background-block);
}

.submit-button {
  margin-top: 40px;
  width: 100%;
}
