.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(289px, 1fr));
  gap: 20px;
  width: 100%;
}

.guru {
  padding: 16px;
  min-width: 289px;
  border: 1px solid var(--color-purple-700);
  border-radius: 8px;
}
