.param {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--text-color-lightest);
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-m);
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.result {
  display: flex;
  align-items: center;
  gap: 8px;
}

.count {
  color: var(--color-black-700);
}

.icon {
  width: 21.5px;
  height: 21.5px;
}