.header {
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

.header-title {
  margin: 0;
  text-align: center;
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-h-xs);
}

.centered {
  justify-content: center;
}