.textarea {
  padding: 16px;
  width: 100%;
  max-width: 706px;
  border: 1px solid var(--color-black-50);
  border-radius: 24px;
  resize: vertical;
}

.textarea:focus {
  outline: none;
}

.inputs-wrapper {
  flex-wrap: wrap;
  max-width: 660px;
}

.input {
  min-height: 48px;
  border-radius: 68px;
}

.input input {
  color: var(--color-black-900);
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-p-m);
}