.additional {
  width: 360px;
  height: auto;
}

.back-button {
  margin: 24px 0;
}

@media (width < 1024px) {
  .back-button {
    margin: 20px 0;
  }
}

@media (width < 768px) {
  .back-button {
    margin: 16px 0;
  }
}