.form-control p a {
  color: var(--color-purple-700);
  text-decoration: underline;
  transition: color 0.2s;
}

.form-control p a:hover {
  color: var(--color-purple-300);
}

.free {
  width: 100%;
  max-width: 360px;
  height: auto;
}

/* .premium svg:nth-of-type(1) {
	color: var(--color-yellow-900);
} */

/* .free svg:first-child {
	width: 32px;
	color: var(--color-white-900);
} */

.premium {
  min-width: 550px;
  max-width: 550px;
  height: auto;
}

.premium:nth-child(2) {
  flex-flow: row wrap;
}

.subscription-cards {
  display: flex;
  margin: 20px 0 24px;
}

.title {
  font-weight: var(--font-weight-500);
}

.subscription-info {
  width: 100%;
  max-width: 578px;
}

.free-sub-icon {
  width: 39px;
  height: 39px;
  fill: var(--color-purple-500);
  color: var(--color-white-900);
}

.premium-sub-icon {
  width: 39px;
  height: 39px;
  color: var(--color-yellow-900);
}

.form-control label {
  display: flex;
  align-items: center;
  gap: 10px;
}

.form-control input {
  background-color: var(--color-white-900);
}

.subscription-button {
  margin-top: 24px;
}

@media (width <= 1024px) {
  .free {
    min-width: 222px;
  }

  .premium {
    min-width: 466px;
  }

  .subscription-cards {
    margin: 20px 0;
  }

  .subscription-button {
    margin-top: 37px;
  }
}

@media (width <= 768px) {
  .subscription-cards {
    flex-direction: column;
    gap: 16px;
    margin: 16px 0;
  }

  .free,
  .premium {
    width: 100%;
    min-width: 328px;
    max-width: none;
  }

  .subscription-button {
    margin-top: 20px;
    margin-left: 0;
    width: 300px;
  }
}
