.history-block {
  margin-top: 142px;
  border-radius: 20px;
  background-color: var(--background-block);
}

@media screen and (width <= 1200px) {
  .history-block {
    margin-top: 119px;
  }
}

@media screen and (width <= 768px) {
  .history-block {
    margin-top: 94px;
  }
}

@media screen and (width < 768px) {
  .history-block {
    flex-direction: column-reverse;
    margin-top: 40px;
    background-color: var(--color-purple-700);
  }
	.history-block-load{
		background-color: var(--color-white-500);
	}
}
