.avatar {
  flex-shrink: 0;
}

.border {
  padding: 16px;
  min-width: 289px;
  border: 1px solid var(--color-purple-700);
  border-radius: 8px;
}

.border-skeleton {
  padding: 16px;
  min-width: 289px;
  border: 1px solid var(--color-grey-300);
  border-radius: 8px;
}

.img-wrapper {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.img-social {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}





