.drawer {
  width: 328px;
  overflow-x: hidden;

  &.drawer-mobile {
    top: calc(var(--header-height) - 12px);
    width: 100%;
  }
}

.filters-mobile {
  display: none;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border-right-color);
  border-radius: 8px;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

.filters-mobile:has(button.active) {
  border: 1px solid var(--button-border-secondary-focus);
}

.filters-mobile button:focus {
  border: none;
}

@media (width < 1280px) {
  .filters-mobile {
    display: flex;
  }
}


