.description {
  max-width: 246px;
}
    
.description h3 {
  margin-bottom: 8px;
  color: var(--color-black-800);
  font-weight: var(--font-weight-600);
  font-size: var(--font-size-p-l);
}
    
.description p {
  margin-bottom: 8px;
  color: var(--color-black-800);
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-p-s)
}