.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.interview-statistics {
  flex-basis: calc(59% - 10px);
}

.history-list {
  flex-basis: calc(50% - 10px);
  align-self: flex-start;
  padding: 0;
}

.container > div {
  height: auto;
}

.stats {
  flex-grow: 1;
}

.category {
  flex-basis: calc(50% - 10px);
  align-self: flex-start;
  max-height: 478px;
}

.block {
  flex-basis: calc(41% - 10px);
}

.questions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.questions > :nth-child(1) {
  margin-bottom: 33px;
}

.questions > :nth-child(3) {
  margin-top: 24px;
}

.category-progress > * + * {
  margin-top: 20px;
}

.attempt > * + * {
  margin-top: 50px;
}

.history {
  padding: 24px;
  width: 100%;
}

@media (width <= 1024px) {
  .questions > :nth-child(1) {
    margin-bottom: 20px;
  }
  
  .questions > :nth-child(3) {
    margin-top: 20px;
  }

  .container {
    flex-direction: column;
    gap: 24px;
  }

  .history-list {
    width: 100%;
  }

  .category {
    width: 100%;
  } 

  .container .card {
    padding: 16px;
  }
}

@media (width <= 768px) {
  .interview-statistics,
  .block,
  .category {
    padding: 16px;
    min-width: 328px;
  }

  .history-list {
    min-width: 328px;
  }

  .history {
    gap: 16px;
    padding: 16px;
  }

  .questions > :nth-child(1) {
    margin-bottom: 24px;
  }
  
  .questions > :nth-child(3) {
    margin-top: 12px;
  }

  .container {
    gap: 16px;
  }

  .category-progress > * + * {
    margin-top: 24px;
  }

  .attempt > * + * {
    margin-top: 24px;
  }
}