.container {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1.5fr 1fr;
  gap: 20px;
}

.container > div {
  height: auto;
}

.container > .category {
  height: 471px;
}

.progress {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.block {
  height: auto;
}

.questions > * + *,
.category-progress > * + * {
  margin-top: 20px;
}

.attempt > * + * {
  margin-top: 50px;
}

.history {
  width: 100%
}

@media (width <= 1280px) {
  .container {
    grid-template-rows: repeat(4, auto);
    grid-template-columns: 1fr;
  }

  .attempt {
    display: grid;
  }

  .attempt > :nth-child(2) {
    place-self: center center;
  }
}
