.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px 20px;
  max-height: 800px;
  overflow: scroll;
}

.button{
  display: flex;
  justify-content: end;
  margin-top: 20px;
  margin-left: auto;
  padding: 15px 61.5px;
}

@media (width < 1024px) {
  .list {
    grid-template-columns: 1fr;
    align-items: center;
    gap: 16px;
    max-height: 1600px;
  }
}

@media (width < 768px) {
  .list {
    max-height: 1450px;
  }
}

@media (width < 360px) {
  .button {
    padding: 15px 26.5px;
  }
}