.container {
  position: relative;
}

.image {
  max-width: 38px;
  max-height: 38px;
  border: 1px solid var(--color-black-30);
  border-radius: 38px;
}

.title {
  position: relative;
  color: var(--color-blue-550);
  line-height: 120%;
}

.card {
  flex-grow: 1;
  padding: 10px 24px;
  width: 100%;
  border: 1px solid var(--color-black-30);
  border-radius: 14px;
  background-color: var(--color-black-30);
  cursor: pointer;

  &:hover {
    border: 1px solid var(--color-purple-700);

    .title {
      color: var(--color-purple-700);
    }

    .image {
      border: 1px solid var(--color-purple-700);
    }
  }
}

.image-wrapper {
  position: relative;
  display: inline-block;
}

.icon-check::after {
  position: absolute;
  right: -8px;
  bottom: 0;
  display: block;
  width: 18px;
  height: 18px;
  background-image: url('../../../../model/assets/check.avif');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  content: '';
}

.active-container {
  cursor: none;
}

.active-color {
  color: var(--color-purple-700);
}

.active-border {
  border: 1px solid var(--color-purple-700);
}

.button.open {
  text-decoration: none;
}

.icon {
  transition: 0.3s ease-in-out;
}

.button:hover .icon {
  transform: translateX(5px);
}

.info {
  max-width: calc(100% - 160px);
}

@media (width < 768px) {
  .card {
    padding: 10px;
  }
}
