.wrapper {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  padding: 10px 12px;
  border: 1px solid var(--text-color-link-active);
  border-radius: 12px;
}

.wrapper:not(:last-of-type) {
  margin-right: 10px;
}

.img-wrapper {
  margin-right: 11px;
  max-height: 20px;
}

.title {
  color: var(--text-color-primary);
  font-size: var(--font-size-p-m);
}