.select {
  width: 100%;
  max-width: 408px;
}

.select > div > div {
  border-radius: 12px;
}

.select select {
  height: 46px;
}

.selection {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  max-width: 740px;
}