.candidate-premium {
  padding: 2px 8px;
  border-radius: 12px;
  background-color: var(--color-yellow-200);
  color: var(--color-yellow-800);
}

.candidate-free {
  padding: 2px 8px;
  border-radius: 12px;
  background-color: var(--color-purple-100);
  color: var(--color-purple-800);
}

.admin {
  padding: 2px 8px;
  border-radius: 12px;
  background-color: var(--color-green-007);
  color: var(--color-green-750);
}
