.user {
  padding: 2px 8px;
  border-radius: 12px;
}

.candidate-premium {
  background-color: var(--color-yellow-200);
  color: var(--color-yellow-800);
}

.candidate-free {
  background-color: var(--color-purple-100);
  color: var(--color-purple-800);
}

.admin {
  background-color: var(--color-green-007);
  color: var(--color-green-750);
}

.author {
  background-color: var(--color-red-200);
  color: var(--color-red-900);
}
