.item:not(:last-child) {
  padding-bottom: 8px;
  border-bottom: 1px solid var(--border-color);
}

.link {
  display: flex;
  gap: 8px;
  color: var(--text-color-bright);
  text-decoration: none;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.params {
  display: flex;
  gap: 24px;
  margin: 0;
  padding: 0;
}

.title {
  position: relative;
  margin: 0;
  padding-left: 10px;
  width: 300px;
  overflow: hidden;
  transition: color 0.3s ease-in-out;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.title::before {
  position: absolute;
  top: 50%;
  left: 0;
  content: '';
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--text-color-link-active);
  transform: translateY(-50%);
}

@media (width <= 1740px) {
  .title {
    width: 200px;
  }
}

@media (width <= 1410px) {
  .title {
    width: 160px;
  }
}

@media (width <= 1280px) {
  .title {
    width: 400px;
  }
}

@media (width <= 1180px) {
  .title {
    width: 300px;
  }
}

@media (width <= 1024px) {
  .title {
    width: 200px;
  }
}

@media (width <= 860px) {
  .title {
    width: 150px;
  }
}

@media (width <= 768px) {
  .title {
    width: 200px;
  }
}

@media (width <= 640px) {
  .title {
    width: 150px;
  }
}







@media (width <= 480px) {
  .link {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .params {
    justify-content: center;
  }
}
