.card {
  padding: 20px;
  width: 289px;
  height: 261px;
  box-shadow: var(--main-shadow);
  border-radius: 20px;
  background: #FFF;
}

.card-title {
  margin-bottom: 28px;
}

.card-description {
  margin-bottom: 12px;
}

.card-button {
  height: 44px;
}

@media screen and (width < 1440px) {
  .card {
    padding: 16px;
    width: 100%;
    min-width: 347px;
    height: 253px;
  }
}

@media screen and (width < 768px) {
  .card {
    padding: 16px;
    width: 100%;
    min-width: 344px;
    height: 253px;
  }
}

@media screen and (width < 360px) {
  .card {
    padding: 16px 10px;
    width: 100%;
    height: 245px;
  }
}

