.gauge-chart-container {
  position: relative;
  width: 241px;
  height: 241px;
}

.gauge-chart-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0; 
  z-index: -1;
  width: 100%;
  height: 100%; 
  border-radius: 50%;
}

.gauge-text {
  position: absolute;
  text-align: center;
}

.gauge-progress {
  transform-origin: center;
}