.popular-skills-card {
  gap: 24px;
}

@media (width <= 1024px) {
  .popular-skills-card {
    gap: 24px;
    padding: 16px;
  }
}

@media (width <= 768px) {
  .popular-skills-card {
    gap: 24px;
    padding: 16px;
  }
}