.drawer {
  width: 328px;
  overflow-x: hidden;

  &.drawer-mobile {
    top: calc(var(--header-height) - 12px);
    width: 100%;
  }
}

.title {
  margin-bottom: 20px;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--border-color);
  color: var(--text-color-bright);
  line-height: 120%;
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-h-s);
}

.wrapper {
  display: flex;
  gap: 20px;
}

.content {
  padding: 20px;
  border-radius: 24px;
}

.main-info-wrapper {
  flex-grow: 1;
  overflow: hidden;
}

.additional-info-wrapper {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  gap: 20px;
  width: 360px;
  height: fit-content;
  border-radius: 24px;
}

.filters-mobile {
  position: absolute;
  top: 20px;
  right: 20px;
  display: none;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border-right-color);
  border-radius: 8px;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

.filters-mobile:has(button.active) {
  border: 1px solid var(--button-border-secondary-focus);
}

.filters-mobile button:focus {
  border: none;
}

@media (width < 1280px) {
  .filters-mobile {
    display: flex;
  }

  .additional-info-wrapper {
    display: none;
  }
}

@media (width < 1024px) {
  .filters-mobile {
    top: 16px;
    right: 16px;
  }
}

@media (width < 768px) {
  .content {
    padding: 20px 16px;
  }


  .filters-mobile {
    right: 10px;
  }
}

@media (width < 480px) {
  .content {
    padding: 20px 10px;
  }

  .title {
    margin-bottom: 24px;
    font-size: var(--font-size-h-xs);
  }
}