.drawer {
  width: 328px;
  overflow-x: hidden;

  &.drawer-mobile {
    top: calc(var(--header-height) - 12px);
    width: 100%;
  }
}

.wrapper {
  display: flex;
  gap: 20px;
}

.content {
  height: auto;
}

.main-info-wrapper {
  flex-grow: 1;
}

.additional-info-wrapper {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  gap: 20px;
  width: 360px;
}

.question-skeleton {
  margin-top: 24px;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--border-color);
}

.filter-skeleton-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.filter-skeleton-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.filters-mobile {
  position: absolute;
  top: 24px;
  right: 20px;
  display: none;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border-right-color);
  border-radius: 8px;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

.filters-mobile:has(button.active) {
  border: 1px solid var(--button-border-secondary-focus);
}

.filters-mobile button:focus {
  border: none;
}

@media (width < 1280px) {
  .filters-mobile {
    display: flex;
  }
  
  .additional-info-wrapper {
    display: none;
  }
}

@media (width <= 1023px) {
  .filters-mobile {
    top: 16px;
    right: 16px;
  }
}

@media (width <= 767px) {
  .filters-mobile {
    top: 20px;
    right: 10px;
  }
}