.header {
  margin-bottom: 16px;
}

.divider {
  margin-bottom: 24px;
  border-top-width: 0;
  border-bottom-color: var(--color-black-50);
}

@media screen and (width < 1024px) {
  .header {
    margin-bottom: 20px;
  }
}