.param-wrapper {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  list-style-type: none;
}

.param-wrapper>li:first-child {
  margin-right: 16px; 
}

.chip {
  cursor: auto;
  min-width: 40px; 
}

.chip:not(:last-of-type) {
  margin-right: 10px; 
}

