.preferences {
  display: flex;
  align-items: center;
  gap: 16px;
}

.img {
  width: 100%;
  border-radius: 10px;
}

.avatar {
  width: 40px;
  height: 40px;
}

.auth-btns {
  display: flex;
  align-items: center;
  gap: 26px;
}

.auth-btn {
  cursor: pointer;
}

@media (width <= 580px) {
  .auth-btns {
    gap: 10px;
  }
}

@media (width <= 380px) {
  .auth-btns {
    display: none;
  }
}
