.dropdown {
  position: relative;
  display: inline-block;
}

.suffix { 
  flex-shrink: 0;
  width: 20px; 
  height: 20px;
  fill: var(--icon-fill); 
  transition: transform 0.3s ease; 
  pointer-events: none;
}

.suffix.active {
  background-color: transparent;
  transform: rotate(180deg); 
}

.list {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  margin-top: 8px;
  width: 400px;
  overflow-y: auto;
  border: 1px solid var(--color-border);
  border-radius: 4px;
  background-color: var(--color-white-900);
}

@media (width <= 450px) {
  .dropdown,
  .list {
    width: 100%;
  }
}

.list-l {
  max-height: 276px;
} 

.list-s {
  max-height: 184px;
}
