.card {
  max-width: 455px;
}

@media (width < 1200px) {
  .card {
    padding: 16px;
    max-width: 344px;
  }
}

@media (width < 768px) {
  .card {
    padding: 20px 10px;
    max-width: 100%;
  }
}

.container {
  margin-top: 4px;
}