.wrapper {
  padding: 24px;
  box-shadow: 0 4px 10px 0 rgb(106 99 118 / 10%);
  border-radius: 14px;
  background-color: var(--color-white-900);
}

.icon {
  color: var(--color-purple-900);
}

.actions {
  margin-top: 16px;
} 