.link {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  color: var(--color-purple-700);
  text-decoration: none;
  font-weight: var(--font-weight-600);
}

.icon {
  width: 24px;
  height: 24px;
  transition: .3s ease-in-out;
}

.link:hover .icon {
  transform: translateX(5px);
}