.faq-item {
  padding: 22px 24px;
  max-width: 930px;
  border-radius: 24px;
  background-color: var(--color-white-900);
}
  
.faq-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border: none;
  background-color: var(--color-white-900);
  color: var(--text-color-primary);
  line-height: 24px;
  font-weight: var(--font-weight-500);
  font-size: var( --font-size-h-xs);
  font-family: var(--font-family);
  cursor: pointer;
}

.faq-show {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 21px;
  height: 21px;
  border-radius: 4px;
  background-color: var(--color-purple-700);
}
  
.faq-show::after {
  position: absolute;
  width: 15px;
  height: 1px;
  background-color: var(--color-white-900);
  transform: rotate(-90deg);
  transition: transform 0.6s ease-in-out;
  content: '';
}
  
.faq-show-active::after {
  transform: rotate(180deg);
  transition: transform 0.6s ease-in-out;
}
  
.faq-show::before {
  position: absolute;
  content: '';
  width: 15px;
  height: 1px;
  background-color: var(--color-white-900);
}

.faq-collapse {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out, opacity 0.4s ease-in-out;
}
  
.faq-collapse.open {
  max-height: 500px;
  opacity: 1;
}
  
.faq-body {
  margin-top: 12px;
  color: var(--text-color-primary);
  line-height: 19px;
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-p-m);
  font-family: var(--font-family);
}  
