.modal {
  white-space: pre-wrap;
}

.modal img {
  margin-bottom: 20px;
  width: 87px;
  height: 79px;
}

.modal-subtitle {
  color: var(--text-color-bright);
  text-align: center;
  line-height: 21px;
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-p-s);
  white-space: pre-wrap;
}

.button {
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-p-s);
}

.button-disabled {
  color: var(--text-color-link-disabled);
  pointer-events: none;
}

.timer {
  margin: 16px 0;
}

.timer-plug {
  height: 23px;
}
