.main {
  display: flex;
  justify-content: center;
  padding: 20px 0 120px;
  min-height: calc(100vh - var(--header-height-lg));
}

.main-content {
  flex-direction: column;
  width: 100%;
  max-width: var(--container-width);
}

@media screen and (width < 1440px) {
  .main {
    padding: 30px 60px 120px;
  }
}

@media screen and (width < 1200px) {
  .main {
    padding: 30px 30px 80px;
    min-height: calc(100vh - var(--header-height-md));
  }
}

@media screen and (width < 768px) {
  .main {
    padding: 20px 10px 40px;
    min-height: calc(100vh - var(--header-height-sm));
  }
}