.slider-tmp {
  display: flex;
  gap: 20px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--border-color);
}

.content-wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 16px;
  min-height: 100%;
}

.question-tmp {
  display: list-item;
  margin-left: 22px;
  list-style: disc;
  font-size: var(--font-size-h-xs);
}

.question-tmp::marker {
  color: var(--text-color-link-active);
}

.answer {
  margin-right: auto;
  border: none;
  background: none;
  color: var(--text-color-link-active);
  font-size: var(--font-size-p-s);
}

.response-buttons-tmp {
  margin-top: auto;
}

.image-wrapper {
  display: flex;
  flex : 1;
  align-items: center;
  width: 100%;
  height: clamp(170px, 30vw, 303px);
}

.image-tmp {
  width: 100%;
  height: 100%;
  border-radius: 24px;
}

/* 
@media (width <= 1160px) {

} */

@media (width <= 1024px) {
  .slider {
    grid-template-columns: auto;
    grid-template-areas:
      'question'
      'image'
      'wrapper'
      'buttons';
    padding-bottom: 0;
    border-bottom: none;
  }

  .response-buttons {
    justify-content: center;
  }
}

@media (width <= 480px) {
  .question {
    font-size: var(--font-size-p-l);
  }
}
