.title-block{
  margin-bottom: 50px;
}


.title-img-block{
  position: relative;
  aspect-ratio: 3 / 2;
  min-width: 170px;
  max-height: 114px;
  overflow: hidden;
  border-radius: 12px;
  background-color: var(  --color-black-400);
}

.title-img-block-image{
  position: absolute;
  inset: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title-block-title{
  margin-bottom: 8px;
  line-height: 32.78px;
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-x-large);
}

.title-block-description{
  line-height: 25.6px;
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-medium);
}

.title-block-tag{
  align-self: baseline;
  padding: 2px 20px;
  border-radius: 30px;
  background-color: var(--color-green-300);
  color: var(--color-green-900);
  font-weight: var(--font-weight-600);
}

.short-answer-block{
  margin-bottom: 21px;
}

.short-answer-block-title, .full-answer-block-title{
  margin-bottom: 16px;
}

.sidebar-wrap{
  align-self: baseline;
}

.sidebar-card{
  margin-bottom: 24px;
}

.author{
  color: var(   --color-black-800);
}

.author-name{
  color: var(--color-black-800); 
  font-weight: var(--font-weight-500) 
}