.drawer {
  width: 328px;
  overflow-x: hidden;

  &.drawer-mobile {
    top: calc(var(--header-height) - 12px);
    width: 100%;
  }
}

.additional-info-wrapper {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  gap: 20px;
  width: 360px;
  height: fit-content;
  border-radius: 24px;
}

.filters-mobile {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border-right-color);
  border-radius: 8px;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

.private-collection-icon-positioning {
  top: 20px;
  right: 20px;
}

.public-collection-icon-positioning {
  top: 52px;
  right: 46px;
}

.filters-mobile:has(button.active) {
  border: 1px solid var(--button-border-secondary-focus);
}

.filters-mobile button:focus {
  border: none;
}

@media (width < 1280px) {
  .filters-mobile {
    display: flex;
  }

  .additional-info-wrapper {
    display: none;
  }
}

@media (width < 1216px) {
  .public-collection-icon-positioning {
    top: 38px;
    right: 46px;
  }
}

@media (width < 1024px) {
  .private-collection-icon-positioning {
    top: 16px;
    right: 16px;
  }
}

@media (width < 768px) {
  .private-collection-icon-positioning {
    right: 10px;
  }

  .public-collection-icon-positioning {
    top: 38px;
    right: 30px;
  }
}

