.text {
  white-space: pre-wrap;
}

.text code {
  padding: 1.5px 5px;
  border-radius: 12px;
  background: linear-gradient(
    180deg,
    var(--background-gradient-code-start) 0%,
    var(--background-gradient-code-end) 100%
  );
}

.text pre {
  overflow-x: auto;
  max-width: 100%;
  white-space: pre;
  padding: 1rem;
  border-radius: 8px;
  background-color: var(--color-black-30);
  box-sizing: border-box;
}

.text pre::-webkit-scrollbar {
  height: 6px;
}

.text pre::-webkit-scrollbar-thumb {
  background-color: var(--color-black-200);
  border-radius: 3px;
}

.text pre::-webkit-scrollbar-track {
  background-color: var(--color-black-50);
  border-radius: 3px;
}

