.text {
  white-space: pre-wrap;
}

.text code {
  padding: 1.5px 5px;
  border-radius: 12px;
  background: linear-gradient(180deg, var(--background-gradient-code-start) 0%, var(--background-gradient-code-end) 100%);
}

