.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(376px, 1fr));
	gap: 20px;
}

.mainText {
	text-transform: uppercase;
}

@media (max-width: 768px) {
	.grid {
		grid-template-columns: 1fr; 
	}
}
