.experience-item {
  display: flex;
  gap: 20px;
  width: 100%;
  cursor: pointer;
}

.experience-logo {
  position: relative;
  flex-shrink: 0;
  width: 70px;
  height: 70px;
  overflow: hidden;
  border-radius: 50%;
  background-color: var(--color-purple-100);
}

.experience-logo > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.experience-name {
  margin-bottom: 12px;
  font-size: var(--font-size-h-xs);
}

.experience-info {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 8px;
  font-size: var(--font-size-p-s);
}

.experience-company {
  list-style-type: none;
  font-weight: var(--font-weight-600);

}

.experience-schedule, .experience-seniority {
  margin-left: 8px;
  color: var(--color-black-600);
}

.experience-location {
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-p-s);
}

.separator {
  margin: 16px 0;
  width: 100%;
  height: 1px;
  background-color: var(--color-black-50);
}