.divider {
  margin-bottom: 24px;
  border-top-width: 0;
  border-bottom-color: var(--color-black-50);
}

.title {
  margin-top: 0;
  color: var(--text-color-bright);
  line-height: 120%;
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-h-xs);
  font-family: var(--font-family);
}

@media (width <= 360px) {
  .title {
    margin-bottom: 16px;
    line-height: 120%;
    font-size: var(--font-size-h-xxs);
  }

  .divider {
    margin-bottom: 20px;
  }
}