.progress-block {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 130px;
  padding: 40px 0 31px 40px;
  border-radius: 24px;
  background-color: var(--background-block);
}

ul {
  list-style: none;
}

.left-block {
  display: flex;
  flex-direction: column;
  gap: 124px;
  padding: 20px 0;
  line-height: 22px;
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-p-m);
}

.caption {
  padding-right: 36px;
  white-space: pre-wrap;
}

.caption h2 {
  margin-bottom: 16px;
  color: var(--text-color-black-landing);
  line-height: 50.8px;
  text-transform: uppercase;
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-h-l);
}

.caption p {
  color: var(--text-color-light);
  white-space: pre-wrap;
}

.caption span {
  display: block;
}

.progress-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.progress-list li {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: var(--text-color-light);
}

.progress-list li > div {
  width: 43px;
  height: 45px;
}

.right-block {
  padding: 63px 100px 0 101px;
  border-radius: 16px 0 0 16px;
  background-color: var(--background-nav-item);
}

@media screen and (width <= 1439px) {
  .progress-block {
    position: relative;
    flex-direction: column-reverse;
    gap: 0;
    margin-bottom: 80px;
    padding: 40px;
    padding-top: 161px;
    padding-bottom: 28px;
  }

  .left-block {
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 0;
  }

  .caption {
    position: absolute;
    top: 40px;
    left: 50%;
    padding: 0 40px;
    width: 100%;
    text-align: center;
    transform: translateX(-50%);
  }

  .caption h2 {
    line-height: 43px;
    font-size: var(--font-size-large-34);
  }

  .caption span {
    display: inline-block;
  }

  .progress-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 24px;
  }

  .right-block {
    padding: 55px 151px 0 119px;
    border-radius: 16px;
  }
}

@media screen and (width <= 767px) {
  .progress-block {
    margin-bottom: 40px;
    padding: 16px;
    padding-top: 131px;
  }

  .left-block {
    line-height: 19px;
    font-size: var(--font-size-p-s);
  }

  .caption {
    position: absolute;
    top: 17px;
    left: 50%;
    padding: 0 16px;
    width: 100%;
    text-align: center;
    transform: translateX(-50%);

  }

  .caption h2 {
    line-height: 27px;
    font-size: var(--font-size-h-xs);
  }

  .progress-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 24px;
  }

  .progress-list li {
    gap: 8px;
  }
	
  .progress-list li > div {
    width: 40px;
    height: 40px;
  }

  .right-block {
    padding: 63px 31px 0;
    border-radius: 24px;
  }
}
