.wrapper {
  display: flex;
  gap: 20px;
}

.filters {
  z-index: 1;
  flex-shrink: 0;
  width: 360px;
  height: fit-content;
  border-radius: 24px;
}

@media screen and (width < 1024px) {
  .filters {
    display: none;
  }
}