.wrapper {
  display: flex;
  gap: 20px;
}

.content {
  height: auto;
}

.main-info-wrapper {
  flex-basis: 67%;
}

.additional-info-wrapper {
  display: flex;
  flex-basis: 33%;
  flex-direction: column;
  gap: 20px;
}

.search {
  position: sticky;
  top: 0;
  height: auto;
}

@media (width <= 1024px) {
  .wrapper {
    flex-direction: column-reverse;
  }
}
