.main {
  flex-grow: 1;
  height: auto;
}

.header {
  margin-bottom: 20px;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--border-color);
}

.filters {
  position: sticky;
  top: 0;
  min-width: 360px;
  max-width: 360px;
  height: auto;
}

@media (width < 1280px) {
  .filters {
    display: none;
  }
}
