.main {
  flex-grow: 1;
  height: auto;
}

.header {
  margin-bottom: 20px;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--border-color);
}

.questions-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 17px;
}

.divider {
  margin-bottom: 24px;
  border-top-width: 0;
  border-bottom-color: var(--color-black-50);
}

.filters {
  position: sticky;
  top: 0;
  min-width: 360px;
  max-width: 360px;
  height: auto;
}

@media (width < 1280px) {
  .filters {
    display: none;
  }
}
