.wrapper {
  margin-bottom: 76px;
  max-width: 408px;
  text-align: center;
}

.title {
  margin-bottom: 9px;
}

.icons-wrapper {
  display: flex;
  justify-content: center;
}

.icon {
  width: 20px;
  fill: var(--color-black-900);
}

.icon:not(:last-of-type) {
  margin-right: 20px;
}