.add-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 32px;
  width: 100%;
  max-width: 1072px;
}
  
.btn-add {
  width: 100%;
  max-width: 320px;
  color: var(--color-purple-700);
}