.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.interview {
  width: calc(100% - 360px - 20px);
}

.statistics {
  width: 360px;
}

/* 3 */
.questions {
  width: calc(50% - 10px);
}

.inactive-title {
  font-size: var(--font-size-h-xs);
}

.inactive-description {
  font-size: var(--font-size-p-s);
}


@media (width <= 1198px) {
  /* 1 */
  .interview {
    width: 100%;
  }

  /* 2 */
  .statistics {
    width: 280px;
  }

  /* 3 */
  .questions {
    width: calc(100% - 280px - 20px);
  }
}

@media (width <= 1000px) {
  /* 2 */
  .statistics {
    width: 100%;
  }

  /* 3 */
  .questions {
    width: 100%;
  }
}