.container {
  --statistics-w-l: 360px;
  --statistics-w-m: 280px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.interview {
  width: calc(100% - var(--statistics-w-l) - 20px);
}

.statistics {
  width: var(--statistics-w-l);
}

.inactive-title {
  font-size: var(--font-size-h-xs);
}

.inactive-description {
  font-size: var(--font-size-p-s);
}


@media (width <= 1198px) {
  .interview {
    width: 100%;
  }

  .statistics {
    width: var(--statistics-w-m);
  }
}

@media (width <= 1000px) {
  .statistics {
    width: 100%;
  }
}