.listen-wrap {
  margin-top: 20px;
}

.inner-wrap {
  width: 100%;
}

.button {
  align-self: flex-end;
  min-width: 240px;
}

.button-skeleton {
  height: 48px
}

@media (width < 1200px) {
  .listen-wrap {
    flex-direction: column;
    margin-bottom: 10px;
  }
}

@media (width < 480px) {
  .button {
    margin-top: 10px;
    width: 100%;
  }

  .inner-wrap {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}