.button {
  align-self: flex-start;
}

.text {
  margin-bottom: 24px;
  line-height: 120%;
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-h-xs);
}

@media (width <= 360px) {
  .text {
    line-height: 120%;
    font-size: var(--font-size-p-s);
  }
} 