.accordion {
  padding-bottom: 24px;
  border-bottom: 1px solid var(--border-color);
}

.accordion.accordion-opened {
  padding: 0;
}

.accordion + .accordion {
  margin-top: 24px;
}

.heading {
  margin: 0;
  font-size: var(--font-size-h-xs);
}

.button {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0;
  width: 100%;
  border: none;
  background-color: transparent;
  color: var(--text-color-bright);
  cursor: pointer;
}

.title {
  position: relative;
  display: flex;
  align-items:normal;
  padding-left: 16px;
  text-align: initial;
  transition: 
    color 0.3s ease-in-out,
    margin-bottom 0.3s ease-in-out;
}

.title::before {
  position: absolute;
  top: 7px;
  left: 0;
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--text-color-link-active);
}

.title.skeleton::before {
  display: none;
}

.title.accordion-opened {
  margin-bottom: 24px;
}


.icon {
  flex-shrink: 0;
  transition: transform 400ms ease-in-out;
}

.icon.accordion-opened {
  transform: rotate(-180deg);
}

.content {
  padding: 0 0 16px 24px;
  color: var(--text-color-light);
}

.collapsed {
  overflow: hidden;
  transition: height .3s ease-in-out;
}

@media (width < 768px) { 
  .content {
    padding-left: 16px;
  }
}

@media (width < 480px) { 
  .accordion {
    padding-bottom: 8px;
  }

  .accordion + .accordion {
    margin-top: 16px;
  }

  .content {
    padding-bottom: 8px;
    padding-left: 0;
  }
}