.table {
  width: 100%;
  border-collapse: collapse;
}

.head {
  height: 48px;
  clip-path: inset(0 round 16px 16px 0 0);
  background-color: var(--color-purple-700);
}

td {
  padding: 13.5px 20px;
  width: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
}

.row {
  width: auto;
  height: 48px;
  background-color: var(--color-black-30);
}

td:first-child {
  padding: 13.5px 15px;
  white-space: nowrap;
}

.row:last-child {
  clip-path: inset(0 round 0 0 16px 16px);
}

.row:hover {
  background-color: var(--color-purple-100);
}

.actions-column {
  width: 50px;
}

.cell {
  span {
    position: relative;
    top: 3px;
  }
}
