.error,
.output {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.code {
  padding: 12px;
  overflow-x: auto;
  border-radius: 8px;
  background-color: var(--color-gray-100);
  color: var(--color-black-700);
  font-size: var(--font-size-p-s);
  font-family: var(--font-family-code);
  white-space: pre-wrap;
}

.stats {
  padding: 16px;
  border-radius: 8px;
  background-color: var(--color-gray-50);
}
