.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: var(--text-color-bright);
  font-weight: var(--font-weight-500);

  >div {
    height: auto;
  }
}

.progress-bar {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: 1fr auto;
}

.progress-bar-title {
  font-size: var(--font-size-h-xs);
}

.progress-num {
  color: var(--text-color-lightest);
  font-size: var(--font-size-p-s);
}

.progress-component {
  grid-column: span 2;
}

.question {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.end-button {
  position: relative;
  margin-left: auto;
}

@media (width <= 1024px) {
  .question {
    gap: 16px;
  }
	
  .slider-navigation {
    order: 1;
  }

  .end-button {
    order: 2;
  }
}

@media (width <= 480px) {
  .progress-bar {
    grid-template-rows: repeat(3, auto);
  }

  .progress-bar-title {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
  }

  .progress-num {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
  }

  .progress-component {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
  }
}
