.popular-questions {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card {
  background-color: var(--color-black-30);
}

.icon {
  width: 30px;
  height: 30px;
  border-radius: 8px;
}