.page {
  width: 100%;
  height: calc(100vh - var(--header-height) - var(--header-height-sm) - 48px) !important;
  border-radius: 16px;
  background-color: var(--background-block);
}

.resize-handle {
  position: relative;
  z-index: 10;
  flex: 0 0 auto;
  width: 2px;
  height: 100%;
  outline: none;
  background-color: var(--color-purple-200);
  transition: background-color 0.2s ease;
  cursor: col-resize;
  user-select: none;
}

.resize-handle:hover {
  background-color: var(--color-purple-500);
}

.support {
  min-width: 190px;
}

.support > svg {
  width: 24px;
  height: 24px;
}
