.title {
  margin-bottom: 16px;
  text-align: left;
  line-height: 116.8%;
  text-transform: uppercase;
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-h-xxl);
  white-space: pre-wrap;
}

.tablet {
  display: none;
}

.mobile {
  display: none;
}

@media screen and (width <= 1439px) {
  .title {
    line-height: 127%;
    font-size: var(--font-size-h-l);
  }
}

@media screen and (width <= 992px) {
  .title {
    margin-bottom: 8px;
    text-align: center;
    line-height: 111%;
  }

  .desktop {
    display: none;
  }

  .tablet {
    display: block;
  }
}

@media screen and (width <= 576px) {
  .tablet {
    display: none;
  }

  .mobile {
    display: block;
  }

  .title {
    margin-bottom: 8px;
    line-height: 117%;
    font-size: var(--font-size-h-xs);
  }
}