.main-container {
  min-height: calc(100vh - var(--header-height-lg));
}

@media screen and (width < 1440px) {
  .main-container {
    padding: 0 60px;
  }
}

@media screen and (width < 1200px) {
  .main-container {
    padding: 0 30px;
    min-height: calc(100vh - var(--header-height-md));
  }
}

@media screen and (width < 768px) {
  .main-container {
    padding: 0 10px;
    min-height: calc(100vh - var(--header-height-sm));
  }
}