.title {
  margin: 0;
  color: var(--text-color-black-landing);
  line-height: 127%;
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-large-34);
}

.wrapper {
  margin-top: 28px;
  padding: 24px;
  border-radius: 24px;
  background-color: var(--color-white-900);
}

.pagination-wrapper {
  display: flex;
  justify-content: center;
} 