.list {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 20px;
}

.list-with-borders {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(289px, 1fr));
  gap: 20px;
  width: 100%;
}

@media (width < 480px) {
  .list {
    grid-template-columns: 1fr
  }
}