.tab-container {
  position: relative;
  padding-bottom: 20px;
  contain: layout;
}

.tab-list {
  display: flex;
  align-self: flex-start;
  padding: 10px;
  box-sizing: content-box;
  width: max-content;
  max-width: 100%;
  overflow-x: auto;
  border-radius: 18px;
  list-style-type: none;
  scrollbar-width: none;
}

.tab-item {
  flex-shrink: 0;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.tab-item:hover{
  color: var(--border-image-hover);
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.tab-item.default:hover,
.tab-item.default.active {
  background-color: var(--background-app);
}

.tab-item.gray:hover,
.tab-item.gray.active {
  background-color: var(--background-block);
}

.tab-item:hover > p {
  color:var(--border-image-hover);
}

.default {
  background-color: var(--background-block);
}

.gray {
  background-color: var(--background-light-hover);
}