.tab-container {
  position: relative;
  padding-bottom: 20px;
}

.tab-list {
  align-self: flex-start;
  padding: 10px;
  overflow-x: auto;
  border-radius: 18px;
  list-style-type: none;
  scrollbar-width: none;
}

.tab-item {
  flex-shrink: 0;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.tab-item.active {
  position: relative;
  background-color:var(--background-app);
}

.tab-item:hover{
  background-color: var(--background-button);  
  color:var(--border-image-hover);
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.tab-item:hover > p {
  color:var(--border-image-hover);
}

.default {
  background-color: var(--background-block);
}

.gray {
  background-color: var(--background-light-hover);
}

.hoverable.active{
  background-color: var(--background-block);  
  transition: all .3s ease-in-out;
}

.hoverable:hover{
  background-color:var(--background-block);  
}