.offer-list {
  display: grid;
  grid-template-columns: 321px 242px;
  margin-bottom: 40px;
}

.offer-list li {
  position: relative;
  padding-top: 61px;
}

.offer-list li p {
  color: var(--text-color-light);
}

.offer-list li > div {
  position: absolute;
  top: 0;
  left: 0;
}

.offer-list li > div svg {
  width: 43px;
  height: 45px;
}

.offer-list li:first-child {
  padding-right: 20px;
  border-right: 1px solid var(--border-right-color);
}

.offer-list li:last-child {
  padding-left: 20px;
}

.offer-list li:last-child > div {
  left: 20px;
}

@media screen and (width <= 1439px) {
  .offer-list {
    grid-template-rows: repeat(2, auto);
    grid-template-columns: 100%;
    gap: 20px;
  }

  .offer-list li:first-child {
    padding-right: 0;
    border-right: none;
  }

  .offer-list li:last-child {
    padding-right: 24px;
    padding-left: 0;
  }

  .offer-list li:last-child > div {
    left: 0;
  }
}

@media screen and (width <=992px) {
  .offer-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 24px;
  }
}

@media screen and (width <= 767px) {
  .offer-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .offer-list li {
    padding-top: 48px;
  }

  .offer-list li:first-child,
  .offer-list li:last-child {
    padding-right: 33px;
  }

  .offer-list li > div {
    width: 45px;
    height: 40px;
  }

  .offer-list li > div svg {
    width: 45px;
    height: 40px;
  }
}
