.wrapper {
  margin-bottom: 4px;
}

.title {
	font: var( --font-family);
  margin-bottom: 20px;
  color: var(--text-color-primary);
  font-size: var(--font-size-h-xs);
  font-weight: var(--font-weight-500);
  line-height: 24px;
}

.text {
	font: var( --font-family);
  color: var(--text-color-light);
  font-size: var(--font-size-p-m);
  font-weight: var(--font-weight-500);
  line-height: 20.8px;
}

@media (width <= 480px) {
  .text {
    font-weight: var(--font-weight-400);
    font-size: var(--font-size-p-s);
    
  }

  .title {
	margin-bottom: 5px;
	font-size: var(--font-size-p-m);
    font-weight: var(--font-weight-500);
  }
}