.item {
	background: #ffffff;
	border-radius: 16px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05); /* Пример тени */
	padding: 16px; /* Добавьте отступы внутри карточки */
}

.freq {
	background-color: #635bff; /* Фиолетовый цвет, как на скриншоте */
	color: white;
	padding: 5px 4px;
	border-radius: 4px;
	justify-content: center;

}

.icon {
	width: 45px;
	height: 45px;
	background-color: #635bff;
	padding: 2px 3px;
	border-radius: 8px;
}

.populariry {
	background-color: #F8F8F8;
	padding: 4px;
	border-radius: 4px;
}