.wrapper {
  display: flex;
  flex-basis: 58%;
  flex-direction: column;
  align-items:center;
  overflow-x: hidden;
}

.content{
  margin-top: 70px;
  margin-bottom: 70px;
  box-sizing: border-box;
  max-width: 408px;
  color: var(--text-color-primary);
}

@media (width <= 768px) {
  .wrapper {
    flex-basis: 100%;
  }
}