.wrapper {
  position: relative;
  flex-shrink: 0;
  width: 70px;
  height: 50px;
  overflow: hidden;
  border-radius: 4px;
  background-color: var(--color-purple-100);
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}