.item-container {
  width: 58px;
}

.title {
  text-align: center;
}

.bar {
  width: 24px;
  border-radius: 6px;
  background: linear-gradient(180deg, #6A0BFF 0%, #FFF 100%), #D9D9D9;
}

.percentage-card {
  padding: 7px 16px;
  box-shadow: var(--main-shadow);
  border-radius: 8px;
}

.first-item {
  justify-self: flex-start;
}

.percentage {
  text-align: center;
}