.wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.icon {
  width: 20px;
  height: 20px;
  color: var(--color-purple-700)
}

.media-wrapper p {
  display: inline;
}

.card {
  width: 100%;
}