.param {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 4px 6px;
  border-radius: 4px;
  background-color: var(--color-black-50);
  color: var(--color-black-800);
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-xs);
}

.value {
  padding-inline: 5px;
  border-radius: 4px;
  background-color: var(--color-purple-700);
  color: var(--color-white-900);
}