.page {
  display: flex;
  gap: 20px;
  padding: 20px;
  height: 100%;
  background-color: var(--color-gray-100);
}

.left-panel {
  flex: 1;
  padding: 24px;
  overflow-y: auto;
  border-radius: 20px;
  background-color: var(--color-white);
}

.right-panel {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 20px;
}

.editor-card {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
  border-radius: 20px;
  background-color: var(--color-white);
}

.editor-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actions {
  display: flex;
  gap: 12px;
}

.editor-container {
  flex: 1;
  overflow: hidden;
  border: 1px solid var(--color-gray-200);
  border-radius: 12px;
}

.output-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
  height: 200px;
  border-radius: 20px;
  background-color: var(--color-white);
}

.output {
  flex: 1;
  overflow-y: auto;
}

.tabs {
  display: flex;
  gap: 4px;
  padding: 4px;
  width: fit-content;
  border-radius: 12px;
  background-color: var(--color-gray-100);
}

.tab {
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  color: var(--color-gray-600);
  transition: all 0.2s;
}

.tab-active {
  box-shadow: 0 2px 4px rgb(0 0 0 / 5%);
  background-color: var(--color-white);
  color: var(--color-purple-700);
  font-weight: var(--font-weight-medium);
}

.description-content {
  margin-top: 20px;
}

.constraints {
  margin-top: 24px;
}

.constraints-title {
  margin-bottom: 12px;
}

.constraint-item {
  margin-bottom: 8px;
  color: var(--color-gray-700);
}
