.wrapper {
  padding: 24px;
}

.card-img {
  object-fit: contain;
  height: 165px
}

.flex {
  margin: auto;
  width: 360px ;
}


.text{
  text-align: center;
}

@media screen and (width <= 567px) {
  .flex{
    width: 272px;
  }

  .text{
    text-align: center;
    font-size: var(--font-size-p-m);
  }
}