.about {
  padding: 161px 95px 164px 77px;
  background-color: var(--background-block);
  color: var(--text-color-bright);
  text-align: center;
}

.about > * + * {
  margin-top: 10px;
}

.title {
  position: relative;
  z-index: 0;
  line-height: 115%;
  text-transform: uppercase;
  font-size: var(--font-size-large-34);
  white-space: pre-line;
}

.title::before {
  position: absolute;
  top: 28px;
  left: 50%;
  z-index: -1;
  width: 174px;
  height: 7px;
  border-radius: 16px;
  background-color: var(--text-color-link-active);
  transform: translate(-50%, 0);
  content: '';
}

.title::after {
  position: absolute;
  bottom: 52px;
  left: 50%;
  z-index: 1;
  display: block;
  width: 61px;
  height: 64px;
  background-image: url('../../model/assets/sealCheckPointer1.avif');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transform: translate(calc(-50% + 100px), 0);
  content: '';
}

.description {
  line-height: 130%;
}

@media screen and (width < 1440px) {
  .about {
    padding: 163px 60px 161px 40px;
  }

  .title::after {
    bottom: 55px;
    transform: translate(calc(-50% + 93px), 0);
  }
}

@media screen and (width < 1024px) {
  .about {
    padding: 130px 34px 126px;
  }

  .title {
    line-height: 120%;
    font-size: var(--font-size-h-xs);
  }

  .title::before {
    top: 16px;
    left: 50%;
    width: 101px;
    height: 5px;
  }

  .title::after {
    bottom: 30px;
    left: 115px;
    width: 50px;
    height: 50px;
    background-image: url('../../model/assets/sealCheckPointerTablet.avif');
  }
	
  .description {
    text-indent: 7%;
  }
}

@media screen and (width < 768px) {
  .title::after {
    left: 39%;
  }

  .about {
    padding: 85px 22px 80px;
  }
}

.skeleton .title::before,
.skeleton .title::after {
  display: none!important;
}