.layout {
  display: grid;
  grid-template-rows: 76px 1fr;
  grid-template-columns: 280px 1fr;
  background-color: var(--background-app);
  color: var(--text-color-primary);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.sidebar {
  grid-row: 1 / -1;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px 20px;
  height: calc(100vh - 125px);
  max-height: 100%;
  overflow-y: auto;
}
