.layout {
  display: grid;
  grid-template-rows: 76px 1fr;
  grid-template-columns: 280px 1fr;
  background-color: var(--background-app);
  color: var(--text-color-primary);
  transition:
    background-color 0.3s ease-in-out,
    color 0.3s ease-in-out,
    grid-template-columns 0.4s ease-in-out;
}

.sidebar {
  grid-row: 1 / -1;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 24px 20px;
  height: calc(100vh - 125px);
  max-height: 100%;
  overflow-y: auto;
}

.container {
  width: 100%;
  max-width: 1600px;
}

.closing {
  grid-template-columns: 88px 1fr;
}

@media (width <= 780px) {
  .layout {
    grid-template-columns: 210px 1fr;
  }
}

@media (width <= 700px) {
  .layout {
    grid-template-columns: 88px 1fr;
  }
}

@media (width <= 500px) {
  .layout {
    grid-template-columns: 78px 1fr;
  }
}

@media (width <= 480px) {
  .layout {
    grid-template-columns: 60px 1fr;
  }
}

@media (width <= 380px) {
  .layout {
    grid-template-columns: 0 1fr;
  }
}
