.wrapper {
  min-height: 100vh;
}

.wrapper .main {
  position: relative;
  padding: 40px 0;
}

@media screen and (width < 1440px) {
  .wrapper .main {
    padding: 24px 30px;
  }
}

@media screen and (width < 768px) {
  .wrapper .main {
    padding: 20px 10px;
  }
}
