.editor {
  padding: 16px;
  width: 100%;
  height: 200px;
  border: 1px solid var(--color-black-50);
  border-radius: 20px;
  background-color: var(--color-white-900);
}

.delete {
  position: absolute;
  top: 8px;
  right: 8px;
}

.add {
  margin-left: auto;
  width: 300px;
}