.header h3 {
  line-height: 127%;
}

.header p {
  line-height: 130%;
}

@media (width < 1024px) {
  .header-container {
    gap: 4px;
  }

  .header p {
    line-height: 120%;
    font-size: var(--font-size-p-s);
  }
}

@media (width < 768px) {
  .header h3 {
    font-size: var(--font-size-large-30);
  }
}

@media (width < 567px) {
  .header h3 {
    color: var(--color-black-900);
    font-size: var(--font-size-large-34);
  }

  .header p {
    color: var(--color-black-600);
  }
}