.wrapper {
  display: flex;
  gap: 20px;
  width: 100%;
}

.mobile {
  flex-direction: column;
}

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 20px;
}

.additional {
  display: flex;           
  flex-direction: column;
  gap: 20px;
  width: 360px;
}

.author {
  grid-area: author;
  margin: 0 auto;
  width: auto;
  text-align: center;
}
