.wrapper {
  display: grid;
  grid-template-columns: 1fr 360px;
  grid-template-areas: 
    "QuestionHeader  ProgressBlock"
    "QuestionActions   AdditionalInfo"
    "QuestionBody   author";
  gap: 20px;
  width: 100%
}


.author {
  grid-area: author;
  margin: 0 auto;
  width: auto;
  text-align: center;
}

@media (width <= 1280px) {
  .wrapper {
    grid-template-columns: auto;
    grid-template-areas: 
      "QuestionHeader"
      "ProgressBlock"
      "AdditionalInfo"
      "author"
      "QuestionActions"
      "QuestionBody"
  }
}


