.panel {
  display: flex;
  justify-content: space-between;
}

.button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.arrow {
  width: 28px;
}

@media (width >= 1024px) {
  .action-btns {
    display: none;
  }
}

@media (width <= 1024px) {
  .panel {
    padding-bottom: 16px;
    border-bottom: 1px solid var(--border-color);
  }
}