.container {
  display: grid;
  grid-template-columns: 1fr 392px;
  gap: 20px;
  margin-bottom: 130px;
  font-weight: var(--font-weight-500);
}

.title {
  margin-bottom: 40px;
  text-align: center;
  line-height: 51px;
  text-transform: uppercase;
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-h-l);
}

ul {
  list-style: none;
}

.interface {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
  max-width: 701px;
  box-shadow: var(--main-shadow);
  border-radius: 24px;
  background-color: var(--text-color-white);
}

.interface-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2px;
}

.interface-body {
  display: flex;
  flex-direction: column;  
  padding: 15px 22px;
  box-shadow: rgb(106 99 118 / 10%) 0 4px 10px 0;
}

.interface-caption {
  color: var(--text-color-bright);
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-h-xs);
}

.interface-link {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  gap: 8px;
  color: var(--text-color-link-active);
  text-decoration: none;
  font-weight: var(--font-weight-600);
}

.interface-icon {
  width: 24px;
  height: 24px;
  transition: .3s ease-in-out;
}

.interface-link:hover .interface-icon {
  transform: translateX(5px);
}

.progress-bar {
  margin-bottom: 6px;
  width: 100%;
  color: var(--text-color-lightest);
  font-size: var(--font-size-p-s);
}

.progress-bar div {
  position: relative;
  width: 100%;
  border-top: 3px solid var(--background-progress-bar);
  border-radius: 3px 0 0 3px;
}

.progress-bar div::before {
  position: absolute;
  top: -3px;
  left: 0;
  width: 25.25%;
  height: 3px;
  border-radius: 3px;
  background-color: var(--background-primary);
  content: '';
}

.question {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.question h3 {
  line-height: 27px;
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-p-l);
  text-wrap: nowrap;
}

.question p {
  color: var(--text-color-link-active);
  line-height: 19px;
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-p-s);
}

.image {
  margin-bottom: 14px;
  width: 100%;
  height: 189px;
  border-radius: 24px;
  object-fit: contain;
}

@media screen and (width <= 1439px) {
  .interface-caption {
    font-size: var(--font-size-p-m);
  }

}

@media screen and (width <= 992px) {
  .container {
    display: flex;
    flex-direction: column;
    gap: 78px;
    margin-bottom: 86px;
  }

  .title {
    margin-bottom: 23px;
    padding: 0 91px;
    line-height: 43px;
    font-size: var(--font-size-large-34);
  }

  .interface {
    display: flex;
    flex-direction: column;
    box-shadow: var(--main-shadow);
  }

  .interface-caption {
    font-size: var(--font-size-h-xs);
  }

  .progress-bar {
    margin-bottom: 12px;
  }
}

@media screen and (width <= 767px) {
  .interview-mode-block {
    margin-bottom: 40px;
    padding: 7px 16px 0;
  }

  .container {
    gap: 16px;
    margin-bottom: 0;
  }

  .interface-header {
    margin-bottom: 0;
  }

  .title {
    font-size: var(--font-size-large-34);
  }

  .interface {
    gap: 0;
    padding: 5.12px 11px;
    border-radius: 11.12px;
  }

  .interface-caption {
    font-size: var(--font-size-p-xss);
  }

  .interface-body {
    padding: 10px;
  }

  .interface-link {
    right: 20px;
    bottom: 20px;
    gap: 1px;
    font-size: var(--font-size-p-xss);
  }
  

  .interface-icon {
    width: 10px;
    height: 10px;

  }

  .progress-bar {
    margin-bottom: 5px;
    line-height: 9px;
    font-size: var(--font-size-p-xss);
  }

  .progress-bar div {
    margin-bottom: 5px;
    border-top: 1.39px solid var(--background-progress-bar);
    border-radius: 1.39px 0 0 1.39px;
  }

  .progress-bar div::before {
    top: -1.39px;
    width: 73.5px;
    height: 1.39px;
    border-radius: 1.39px;
  }

  .question {
    gap: 7.41px;
  }

  .question h3 {
    line-height: 13px;
    font-size: var(--font-size-p-xss);
  }

  .question p {
    line-height: 9px;
  }


}

@media screen and (width <= 576px) {
  .title {
    margin-bottom: 16px;
    padding: 0;
    line-height: 23px;
    font-size: var(--font-size-h-xs);
  }

  .image {
    height: 87px;
    border-radius: 11.12px;
  }

}
