.yeahub-textarea {
  padding: 1rem;
  width: inherit;
  height: inherit;
  overflow: auto;
  outline: none;
  border: 1px solid var(--color-black-50);
  border-radius: 1.5rem;
  background-color: var(--color-white-900);
  color: var(--color-black-900);
  transition: 0.2s;
  cursor: text;
}

/* .yeahub-textarea::-webkit-resizer {
      display: none;
    } */
  
.yeahub-textarea:hover {
  border-color: var(--color-purple-300);
}
  
.yeahub-textarea:focus {
  border-color: var(--color-purple-500);
}
  
.yeahub-textarea:active {
  border-color: var(--color-purple-700);
}
  
/* Вид disabled textarea привела к виду disabled input, как образцы textarea в макете, 
несмотря на то что на макете страницы формы ревью textarea изображены default, 
что не совсем логично на нередактируемой странице */

.yeahub-textarea:disabled {
  border: 1px solid var(--color-black-50);
  background-color: var(--color-black-25);
  color: var(--text-color-the-lightest);
  cursor: not-allowed;
}
  
.yeahub-textarea::placeholder {
  color: var(--color-black-100);
}
  
.yeahub-textarea-valid {
  outline: 1px solid var(--color-green-50);
  border-color: var(--color-green-700);
}

.yeahub-textarea-valid:focus {
  box-shadow: var(--focus-shadow-valid);
  outline: 2px solid var(--color-green-500);
  border-color: var(--color-green-700);
}

.yeahub-textarea-valid:hover {
  border-color: var(--color-green-800);
}

.yeahub-textarea-valid:active {
  border-color: var(--color-green-700);
}

.yeahub-textarea-error {
  border-color: var(--color-red-700);
}

.yeahub-textarea-error:hover {
  border-color: var(--color-red-800);
}
  
.yeahub-textarea-error:focus {
  box-shadow: var(--focus-shadow-error);
  border-color: var(--color-red-700);
}
  
.yeahub-textarea-error:active {
  border-color: var(--color-red-700);
}