.item {
  display: flex;
  gap: 20px;
  padding: 10px 13px 12px 12px;
  border-bottom: 0.5px solid var(--border-input);
}

.info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.img {
  width: clamp(101px, 5.52vw + 74.8px, 154px);
  height:clamp(90px, 2.08vw + 60px, 110px);
  border-radius: 12px;
}

.title {
  display: -webkit-box;
  max-width: 100%;
  overflow: hidden;
  font-weight: var(--font-weight-600);
  font-size: var(--font-size-p-l);
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
}

.action-btn {
  justify-content: start;
  padding: 0;
  color: var(--text-color-light);
}

@media (width <= 768px) {
  .item {
    gap: 16px;
    padding: 0 0 8px;
  }

  .title {
    font-size: var(--font-size-p-s);
  }

  .img {
    border-radius: 8px;
  }
}