.dropdown-option {
  display: flex;
  gap: 10px;
  padding: 12px 24px;
  background-color: var(--background-block);
  color: var(--text-color-bright);
  direction: ltr;
  transition: background-color 0.2s ease;
  cursor: pointer;

  &:hover{
    background-color: var(--background-app);
    color: var(--background-primary); 
  }

  &:active{
    background-color: var(--background-app);
  }

  &:focus-within{
    background-color: var(--background-app);
    color: var(--background-primary);
  }
}

.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

