.advantages {
  margin-top: 35px;
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  gap: 20px;
  list-style: none;
}

.advantage-card {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 42px;
  padding: 24px;
  min-height: 212px;
  border-radius: 12px;
  background-color: var(--text-color-white);
  line-height: 21.86px;
}

.advantage-card-body {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.advantage-card:nth-child(2) {
  margin-top: 40px;
  background-color: var(--background-light-chip);
}

.advantage-card div:has(svg) {
  width: 43px;
  height: 45px;
}

.advantage-card svg {
  width: 100%;
  height: 100%;
}

.advantage-card-body h3 {
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-h-xs);
}

.advantage-card-body p {
  color: var(--color-black-700);
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-p-m);
}

@media screen and (width <= 1439px) {
  .advantage-card {
    gap: 30px;
    padding: 16px;
  }
       
  .advantage-card-body h3 {
    font-size: var(--font-size-p-l);
  }

  .advantage-card-body p {
    font-weight: var(--font-weight-400);
    font-size: var(--font-size-p-s);
  }
}

@media screen and (width <= 992px) {
  .advantage-card {
    gap: 26px;
  }

  .advantage-card-body p {
    line-height: 110%;
  }
}

@media screen and (width <= 767px) {
  .advantages {
    margin-top: 19px;
    padding: 0 8px;
  }

  .advantages-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 11px;
  }

  .advantage-card {
    padding: 16px;
    min-height: 164px;
    border-radius: 12px;
    line-height: 19px;
  }

  .advantage-card:nth-child(2) {
    margin-top: 0;
  }

  .advantage-card div:has(svg) {
    width: 43px;
    height: 45px;
  }

  .advantage-card-body h3 {
    font-weight: var(--font-weight-500);
    font-size: var(--font-size-p-m);
  }

  .advantage-card-body p {
    font-size: var(--font-size-p-s);
  }
}

@media screen and (width <= 576px) {
  .advantage-card {
    gap: 19px;
  }

  .advantage-card-body p {
    line-height: 134%;
  }

}
