.advantages {
  margin-top: 35px;
}

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  gap: 20px;
  list-style: none;
}

.advantages-list li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;
  min-height: 212px;
  border-radius: 12px;
  background-color: var(--text-color-white);
  line-height: 21.86px;
}

.advantages-list li:nth-child(2) {
  margin-top: 40px;
  background-color: var(--background-light-chip);
}

.advantages-list div:has(svg) {
  width: 43px;
  height: 45px;
}

.advantages-list svg {
  width: 100%;
  height: 100%;
}

.advantages-list h3 {
  margin-top: 40px;
  margin-bottom: 8px;
  font-weight: var(--font-weight-500);
  font-size: var(--font-size-h-xs);
}

.advantages-list p {
  color: var(--color-black-700);
  font-weight: var(--font-weight-400);
  font-size: var(--font-size-p-m);
}

@media screen and (width <= 1439px) {
  .advantages-list li {
    padding: 16px;
  }
       
  .advantages-list h3 {
    margin-top: 24px;
    font-size: var(--font-size-p-l);
  }

  .advantages-list p {
    font-weight: var(--font-weight-400);
    font-size: var(--font-size-p-s);
  }
}

@media screen and (width <= 767px) {
  .advantages {
    margin-top: 19px;
    padding: 0 8px;
  }

  .advantages-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 11px;
  }

  .advantages-list li {
    padding: 16px;
    min-height: 164px;
    border-radius: 12px;
    line-height: 19px;
  }

  .advantages-list li:nth-child(2) {
    margin-top: 0;
  }

  .advantages-list div:has(svg) {
    width: 43px;
    height: 45px;
  }

  .advantages-list h3 {
    margin-top: 18px;
    font-weight: var(--font-weight-500);
    font-size: var(--font-size-p-m);
  }

  .advantages-list p {
    font-size: var(--font-size-p-s);
  }
}
