.checkbox-wrapper input[type="checkbox"] {
  position: relative; 
  appearance: none; 
  outline: none;
  cursor: pointer;
}

.checkbox-wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
}
 
.checkbox {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  border: 1px solid var(--color-black-50);
  border-radius: 4px;
  background-color: transparent;
  transition: background-color 0.2s;
}

.checkbox:checked {
  border-color: var(--color-purple-500);
  background-color: var(--color-purple-700);
}

.checkbox:checked::after { 
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--color-white-900);
  text-align: center;
  font-size: var(--font-size-p-l);
  transform: translate(-50%, -50%);
  content: "\2714"
}

.checkbox:indeterminate::after { 
  content: "";
  position: absolute;
  top: 50%;
  left: 2px;
  width: 14px;
  height: 1.5px;
  border-radius: 1.5px;
  background-color: var(--color-white-900);
  transform: translateY(-50%);
}
	
.checkbox:disabled {
  border-color: var(--color-black-500);
  background-color: var(--color-black-300);
}

.checkbox-wrapper.disabled .checkbox {
  cursor: not-allowed;
}
	
.checkbox-wrapper input[type="checkbox"]:not(:checked, :disabled):hover {
  border-color: var(--border-focus-purple);
}